﻿@import "Colors";

.modal-body.AddAssetToFolder {
	.Project {
		> .Name {
			background-color: $BackgroundAccentColor;
			padding: 3px;
			font-size: 16px;
		}

		.Label {
			margin-left: 20px;

			.Header {
				.Title {
					padding: 3px 0;
				}
			}

			.AddableLabel {
				cursor: pointer;
				padding: 5px 3px;
				border-top: 1px solid $AlternateBorderColor;
				width: 100%;
				background-color: $BackgroundAccentAlternateColor;

				.glyphicon {
					float: right;
				}
			}
		}
	}
}
