﻿@import "SizeScrolling";

.AnalysePage {
	.Overview {
		@include Flex;
		margin: 10px;

		.Load {
			@include FlexItem(0, 0, auto);

			table td {
				padding: 5px;
			}
		}

		.Years {
			@include FlexItem(1, 1, auto);
			margin-top: 5px;
			margin-left: 50px;

			.YearsContainer {
				@include Flex;
				flex-wrap: wrap;
				align-content: flex-start;
				div {
					width: 70px;
					margin-bottom: 5px;
				}
			}
		}
	}

	.AssetTable {
		td {
			padding: 5px;
		}
	}
}