﻿@import "Colors";
@import "Utility";
@import "SizeScrolling";
@import "Size";

.Asset {
	@include FlexColumn;
	@include FullSize;
	overflow: auto;

	h3 {
		.dragIcon {
			cursor: move;
		}

		@include FlexItem(0, 0, auto);
	}

	.Player {
		@include FlexItem(0, 0, auto);

		.Video {
			margin-bottom: 10px;

			video {
				height: 360px;

				@include ExtraSmall {
					height: initial;
					width: 100%
				}
			}
		}

		.SideBySide {
			@include Flex;
			@include CenterFlex;

			div {
				@include FlexItem(1, 1, auto);
			}

			.BigPlayer {
				@include FlexItem(0, 0, auto);
				margin-right: 10px;
				padding-top: 4px;

				video {
					min-width: 240px;
					max-height: 254px
				}
			}
		}

		.Timeline {
			margin-bottom: 4px;

			.vis-foreground {
				cursor: move;
				cursor: -webkit-grab;
				cursor: grab;
			}

			.vis-item {
				@include Border;
				background-color: $BackgroundAccentAlternateColor;
				cursor: pointer;

				&.vis-selected {
					background-color: $LightHighlightAlternateColor;
				}

				.vis-delete {
					top: -2px;
					right: -20px;
					width: 16px;
					height: 16px;
					padding: 0 0 0 1px;
					margin: 0;
					line-height: 16px;
				}
			}
		}

		.Timeline.IsDragging .vis-foreground {
			cursor: -webkit-grabbing;
			cursor: grabbing;
		}

		.TimedToolbar {
			.Group {
				margin-left: 30px;
			}
		}
	}

	.AddToFolder {
		@include FlexItem(0, 0, auto);
		margin-top: 10px;
	}

	.TabContainer {
		@include FlexColumn;
		@include FlexItem(1, 1, auto);
		position: relative;
		overflow: hidden;
		margin-top: 40px;
		min-height: 300px;

		@include ExtraSmall {
			margin-top: 20px;
		}

		> ul {
			@include FlexItem(0, 0, auto);
		}

		.nav.nav-tabs {
			.dropdown-menu {
				z-index: 25000 !important;
			}

			a {
				cursor: pointer;
				touch-action: manipulation;
			}
		}

		.tab-content {
			@include FlexItem(1, 1, auto);
			overflow: hidden;
			overflow-y: auto;
		}

		.Data {
			textarea {
				resize: none;
				overflow: hidden;
			}

			.FieldData {
				> span {
					margin: 0;
					min-height: 2em;
				}

				.EditControls {
					display: inline-block;
					float: right;
				}

				.ClosedList {
					margin-bottom: 3px;

					.twitter-typeahead {
						width: 100%;
					}
				}
			}

			> table > tbody > tr > td:first-child {
				width: 168px;
			}

			.TableData {
				.OverlayHeader {
					height: 37px;
					position: absolute;
					top: 42px;
					background-color: white;
					border-bottom: 2px solid #ddd;
					overflow: hidden;

					> div {
						font-weight: bold;
						padding: 8px;
						display: inline-block;
					}
				}

				table {
					td {
						padding: 5px;
						font-size: 12px;

						span.Collapsed {
							display: block;
							overflow: hidden;
							white-space: nowrap;
							text-overflow: ellipsis;
							cursor: pointer;
						}

						input[type=text] {
							width: 100%;
						}
					}

					tr.Expanded {
						background-color: #f9f9f9;

						td > div {
							@include Flex;
							padding: 15px;

							div {
								@include FlexItem(0, 0, auto);
								padding-left: 30px;
							}

							div:first-child {
								@include FlexItem(1, 1, auto);
								padding-left: 0;
							}
						}
					}
				}
			}
		}

		.table > tbody > tr:first-of-type > td {
			border-top: none;
		}

		.List {
			table {
				table-layout: fixed;

				.table {
					margin-bottom: 5px;
				}

				.Selected {
					background-color: $LightHighlightAlternateColor;
				}

				.Details {
					background-color: $BackgroundAccentColor;

					.Ownership {
						display: inline-block;
						float: right;
						position: relative;
						top: 2px;
					}

					.Controls {
						input[type="checkbox"] {
							margin-left: 15px;
							margin-right: 4px;
						}

						label {
							position: relative;
							top: 2px;
							font-weight: normal;
						}
					}

					.EditControls {
						margin-top: 5px;
					}
				}

				th.Play {
					width: 70px;
				}

				th.Start {
					width: 100px;
				}

				th.End {
					width: 100px;
				}

				th.Duration {
					width: 100px;
				}

				th.Text {
					width: auto;
				}

				th.CollapseState {
					width: 65px;
				}

				td.CollapseState {
					position: relative;

					.Lock {
						position: absolute;
						left: 27px;
						top: 12px;
					}

					.Right {
						position: absolute;
						right: 15px;
						top: 15px;
					}
				}

				.Title {
					overflow: hidden;
					white-space: nowrap;
					text-overflow: ellipsis;
				}

				~ button {
					margin-bottom: 20px;
				}
			}

			.Footer {
				margin-bottom: 20px;

				button {
					margin-right: 20px;
				}

				select {
					height: 26px;
				}
			}
		}
	}

	.DragElement {
		position: fixed;
		top: 150px;
		padding: 4px;
		background-color: $BackgroundAccentAlternateColor;
		border-radius: 5px;
		border: 1px solid $HighlightColor;

		&.TopDragging {
			top: 200px;
		}
	}
}