﻿$HighlightColor: #0066B1;
$HighlightAlternateColor: #F15A23;
$LightHighlightAlternateColor: #FFDF9B;
$VeryLightHighlightAlternateColor: #FFF7E7;

$DarkBackgroundColor: #999;
$BackgroundAccentColor: #F0F1F2;
$BackgroundAccentAlternateColor: #F8F9FA;

$BorderColor: #E7E6E8;
$AlternateBorderColor: #DBDCDD;

$TextColor: #333;
$TextAlternateColor: #777777;