﻿@import "Colors";

.modal .DateDrillDown {
	.Breacrumbs{
		button.CantChange{
			border: none;
			cursor: default;
			background: transparent;
		}
	}

	.Options .btn {
		margin-bottom: 5px;
		min-width: 50px;
	}

	.LinkButton {
		color: $HighlightColor;
		border: none;
		background: transparent;
		padding: 0;
		margin: 0;
	}
}
