﻿@import "Colors";
@import "Utility";
@import "SizeScrolling";

.EditProject {
	.tab-content {
		margin-top: 10px;

		#EditProjectUsers.active {
			.Members {
				@include Flex;

				> div {
					@include FlexItem(1, 1, auto);
					@include FlexColumn;
					margin-left: 10px;

					ul {
						@include NoBorderButton;
						overflow: hidden;
						overflow-y: auto;
						max-height: 300px;
						padding-left: 0;

						li {
							list-style: none;
							margin-left: 0;

							.Me {
								margin-left: 18px;
								font-size: 12px;
								color: $TextAlternateColor;
							}

							button.Added {
								@include animation(MemberAdded 2s);
							}
						}
					}
				}
			}
		}

		#EditProjectName, #EditLabelName {
			button[type="submit"] {
				background-color: $HighlightColor;
				color: white;
			}

			input[type="text"] {
				width: 300px;
			}
		}
	}
}

@include keyframes(MemberAdded) {
	0% { color: none; }
	20% {color: $HighlightAlternateColor; }
	80% {color: $HighlightAlternateColor; }
	100% { color: none; }
}