﻿@import "Colors";
@import "SizeScrolling";

.FullLengthDialog {
	.FullLengthPlayer {
		margin-bottom: 20px;

		&:last-child {
			margin-bottom: 0;
		}

		audio {
			width: 100%;
		}

		table {
			margin-left: 10px;
			margin-top: 10px;

			tr {
				td {
					&:first-child {
						padding-right: 20px;
					}

					&.Number {
						text-align: right;
					}

					&.GotoButton {
						cursor: pointer;
						color: $HighlightColor;

						&:hover {
							color: $HighlightAlternateColor;
						}
					}
				}
			}
		}

		.ReportOffset {
			display: inline-block;
			margin: 10px;
			padding: 5px 10px;
			background-color: lightgrey;
			color: $TextColor;
			border: 1px solid $AlternateBorderColor;
			border-radius: 3px;
			text-decoration: none;

			&:hover {
				background-color: darkgrey;
				color: white;
			}
		}
	}
}