﻿@import "Colors";
@import "Utility";
@import "SizeScrolling";
@import "Size";

@mixin ExpandingForm {
	form{
		@include Flex;

		.form-group {
			@include FlexItem(1, 1, auto);

			display:block;
			input{
				width: 100%;
				height: 100%;
			}
		}
	}
}

.MenuContainer {
	@include Border;
	@include FlexItem(0, 0, auto);
	position: relative;
	width: 290px;
	margin-top: 2px;
	margin-right: 25px;
	padding: 0;
	background-color: $BackgroundAccentColor;
	border-radius: 3px;
	color: $TextAlternateColor;
	transition: width 0.5s;
	z-index: 100;

	&.Collapsed {
		width: 0;

		@include Small {
			padding-left: 0px;
			padding-right: 0px;
		}

		@include ExtraSmall {
			padding-left: 0px;
			padding-right: 0px;
		}
	}

	@include Small {
		position: absolute;
		margin-right: 0px;
		padding-left: 10px;
		padding-right: 10px;
		top: -2px;
		bottom: 0px;
		border-radius: 0px;
	}

	@include ExtraSmall {
		position: absolute;
		margin-right: 0px;
		padding-left: 10px;
		padding-right: 10px;
		top: -2px;
		bottom: 0px;
		left: 0;
		right: 0;
		width: 100%;
		border-radius: 0px;
	}

	.ToggleButton {
		@include Border;
		position: absolute;
		top: 10px;
		right: -18px;
		width: 18px;
		height: 34px;
		z-index: 10;
		padding: 0;
		margin: 0;
		border-left: none;
		border-radius: 0 3px 3px 0;
		background-color: $BackgroundAccentColor;

		@include Small {
			top: -1px;
			right: -30px;
			width: 30px;
			height: 40px;
			border-top-right-radius: 0px;
		}

		@include ExtraSmall {
			top: 9px;
			right: 0;
			width: 50px;
			height: 61px;
			border-left: inherit;
			border-top-right-radius: 0px;
		}
	}

	@include ExtraSmall {
		&.Collapsed .ToggleButton {
			top: -1px;
			right: -30px;
			width: 30px;
			height: 40px;
		}
	}

	> .Container {
		@include FlexColumn;
		height: 100%;
		overflow-y: hidden;

		.QueryForm {
			padding: 10px 5px 10px 5px;
			@include FlexItem(0, 0, auto);

			@include ExtraSmall {
				margin-right: 40px;
			}

			input {
				border-radius: 3px;
			}

			.form-group {
				margin-bottom: 2px;

				button {
					width: 49%;
				}
			}
		}

		> div.VerticalScroll {
			@include FlexItem(1, 1, auto);
		}

		.Group, .LabelFolder {
			&:not(.Collapsed):not(:last-of-type) {
				margin-bottom: 15px;
			}

			.Header {
				@include TobBottomBorder;
				@include Flex;
				@include NoBorderButton;
				border-top-width: 2px;
				padding: 4px 2px 4px 2px;
				padding-left: 5px;
				font-size: 16px;
				cursor: pointer;
				background-color: $BackgroundAccentAlternateColor;
				border-top-color: $HighlightColor;

				.Title {
					@include FlexItem(1, 1, auto);
				}

				.CollapseToggle {
					margin: 0 1px 0 5px;
					width: 10px;
				}

				> div {
					display: inline;
				}
			}

			&.Collapsed {
				> .Header {
					border-bottom: none;
				}

				> .Content {
					display: none;
				}
			}

			.Content .Group, .Content .LabelFolder {
				margin-bottom: 0;

				.Header {
					background-color: $BackgroundAccentColor;
					color: $HighlightColor;
					border-color: $BorderColor;
					font-size: 12px;
					border-top-width: 1px;
					border-bottom: none;
				}

				.Content {
					padding: 0 2px 3px 2px;

					ul {
						list-style: none;
						padding: 0;
						margin: 0;
						margin-left: 10px;

						li {
							cursor: pointer;
							padding: 2px 2px 1px 2px;
							border-radius: 5px;

							&:hover {
								background-color: $BackgroundAccentAlternateColor;
							}

							&.Active {
								background-color: $HighlightColor;
								color: white;
							}

							.badge {
								float: right;
								margin-top: 1px;
							}

							a {
								outline: none;
								color: inherit;
								text-decoration: none;
								display: block;
							}
						}
					}
				}

				&.Collapsed .Header {
					color: $TextAlternateColor;
				}
			}
		}

		.SearchFilter .Group {
			&.TimeRange {
				@include NoBorderButton;

				.date {
					margin-bottom: 2px;

					.dropdown-menu {
					}
				}

				.btn-group {
					margin-left: 80px;

					button {
					}
				}
			}

			&.Facet {
				.ShowAll {
					cursor: pointer;
					margin: 0;
					margin-right: 4px;
					text-align: right;
				}
			}
		}

		.Projects {
			margin-bottom: 25px;

			&.Group > .Header.DragHighlighted {
				background-color: $VeryLightHighlightAlternateColor;
			}

			@include ExtraSmall {
				.ActionButton {
					display: none;
				}
			}

			.Group, .LabelFolder {
				border-radius: 5px;

				.form-group-sm {
					height: 25px;
				}

				.CustomHeader {
					@include FlexItem(0, 1, auto);
					@include ExpandingForm;
				}

				> .Header.DragHighlighted {
					background-color: $VeryLightHighlightAlternateColor;
				}

				> .Content {
					padding: 0 0 0 6px !important;
				}

				.Label {
					@include Flex;
					@include ExpandingForm;
					@include NoBorderButton;
					-moz-transition: color ease 0.5s;
					-o-transition: color ease 0.5s;
					-webkit-transition: color ease 0.5s;
					transition: color ease 0.5s;
					color: inherit;
					flex: 1 1 auto;
					cursor: pointer;
					border-radius: 5px;
					margin-right: 2px;
					z-index: 1000;

					&.Associated {
						color: $HighlightAlternateColor;
					}

					&.HoveringDrop {
						background-color: $LightHighlightAlternateColor;
					}

					a, form {
						@include FlexItem(1, 1, auto);
					}

					&.Active {
						background-color: $HighlightColor;
						color: white;
						margin: -2px 0px -2px -4px;
						padding: 2px 2px 2px 4px;
					}

					a {
						outline: none;
						color: inherit;
						text-decoration: none;
						display: block;
					}
				}
			}
		}
	}
}