﻿@import "SizeScrolling";
@import "Size";

.Player {
	.PDF, .Image {
		@include Flex;
		height: 300px;

		&.Big {
			height: 700px;
		}

		.Menu {
			@include FlexColumn;
			@include FlexItem(0, 1, auto);
			margin: 0 10px;

			.PageList {
				@include FlexItem(1, 1, auto);
				margin-top: 10px;
				margin-bottom: 0;
				overflow-x: hidden;
				overflow-y: auto;
				min-width: 200px;
			}
		}
	}

	.PDF iframe {
		border: none;
		@include FlexItem(1, 1, auto);
		min-height: 100%; // Fix for IE11
	}

	@include ExtraSmall {
		.PDF, .Image {
			height: initial;

			.FileList {
				margin: 0;
				@include FlexItem(1, 1, auto);

				.panel-body {
					padding: 0;

					.btn {
						float: left;
						margin: 5px;
					}
				}
			}
		}

		.InlinePlayer {
			display: block;
		}
	}

	@include Small {
		.InlinePlayer {
			margin-bottom: 20px;
		}
	}

	.InlinePlayer {
		.AudioPosition {
			margin: 0;
			padding: 15px 15px 20px;

			input[type=range] {
				-webkit-appearance: none;
				width: 100%;
				margin: 2px 0;
			}

			input[type=range]:focus {
				outline: none;
			}

			input[type=range]::-webkit-slider-runnable-track {
				width: 100%;
				height: 20px;
				cursor: pointer;
				box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
				background: rgba(240, 241, 242, 0.78);
				border-radius: 0px;
				border: 1px solid #dbdcdd;
			}

			input[type=range]::-webkit-slider-thumb {
				box-shadow: 0px 0px 0px #000031, 0px 0px 0px #00004b;
				border: 1.8px solid #dbdcdd;
				height: 24px;
				width: 24px;
				border-radius: 10px;
				background: #0066b1;
				cursor: pointer;
				-webkit-appearance: none;
				margin-top: -3px;
			}

			input[type=range]:focus::-webkit-slider-runnable-track {
				background: rgba(254, 254, 254, 0.78);
			}

			input[type=range]::-moz-range-track {
				width: 100%;
				height: 20px;
				cursor: pointer;
				box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
				background: rgba(240, 241, 242, 0.78);
				border-radius: 0px;
				border: 1px solid #dbdcdd;
			}

			input[type=range]::-moz-range-thumb {
				box-shadow: 0px 0px 0px #000031, 0px 0px 0px #00004b;
				border: 1.8px solid #dbdcdd;
				height: 24px;
				width: 24px;
				border-radius: 10px;
				background: #0066b1;
				cursor: pointer;
			}

			input[type=range]::-ms-track {
				width: 100%;
				height: 20px;
				cursor: pointer;
				background: transparent;
				border-color: transparent;
				color: transparent;
			}

			input[type=range]::-ms-fill-lower {
				background: rgba(226, 228, 230, 0.78);
				border: 1px solid #dbdcdd;
				border-radius: 0px;
				box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
			}

			input[type=range]::-ms-fill-upper {
				background: rgba(240, 241, 242, 0.78);
				border: 1px solid #dbdcdd;
				border-radius: 0px;
				box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
			}

			input[type=range]::-ms-thumb {
				box-shadow: 0px 0px 0px #000031, 0px 0px 0px #00004b;
				border: 1.8px solid #dbdcdd;
				height: 24px;
				width: 24px;
				border-radius: 10px;
				background: #0066b1;
				cursor: pointer;
				height: 20px;
			}

			input[type=range]:focus::-ms-fill-lower {
				background: rgba(240, 241, 242, 0.78);
			}

			input[type=range]:focus::-ms-fill-upper {
				background: rgba(254, 254, 254, 0.78);
			}
		}
	}

	.Image .ImageContainer {
		@include FlexItem(1, 1, auto);
		overflow: hidden;
		overflow-y: auto;

		img {
			width: 100%;
		}
	}

	.Video {
		@include Flex;
		@include CenterFlex;
		@include FlexColumn;
	}

	select {
		height: 26px;
		position: relative;
		top: 1px;
	}

	.Volume {
		width: 100px;
		height: 19px;
		display: inline-block;
		margin: 0 20px 0 0;
		position: relative;
		top: 4px;
	}

	.VolumeButton {
		margin-left: 20px;
		display: inline-block;
		width: 20px;
		height: 18px;
		cursor: pointer;
		background-repeat: no-repeat;
		background-image: url("/App/Images/Players/vol_full_default.png");

		&.Muted {
			background-image: url("/App/Images/Players/vol_off_default.png");
		}
	}

	.Layout {
		margin: 0 20px 0 0;
	}

	.Button {
		display: inline-block;
		width: 30px;
		height: 26px;
		cursor: pointer;
		padding-top: 2px;
		padding-left: 4px;
		background-repeat: no-repeat;
		background-image: url("/App/Images/Players/bt-single-default.png");

		&.Wide {
			width: 48px;
			background-size: 100% 100%;
		}

		&:hover {
			background-image: url("/App/Images/Players/bt-single-over.png");
		}

		&:active {
			background-image: url("/App/Images/Players/bt-single-down.png");
		}

		&.Primary {
			width: 40px;
			margin-right: 20px;
			padding-left: 12px;
			background-image: url("/App/Images/Players/ButtonBigPrimaryDefault.png");

			&:hover {
				background-image: url("/App/Images/Players/ButtonBigPrimaryOver.png");
			}

			&:active {
				background-image: url("/App/Images/Players/ButtonBigPrimaryDown.png");
			}
		}
	}

	.MediaError {
		color: #ff0000;
		margin: 5px;
	}
}