﻿@import "Colors";
@import "SizeScrolling";
@import "Size";

.SearchPage {
	nav {
		@include Flex;
		@include CenterFlex;
		@include FlexItem(0, 0, auto);
		-webkit-flex-wrap: wrap-reverse;
		flex-wrap: wrap-reverse;
		padding: 10px;

		> .Description {
			margin-right: 10px;
			@include FlexItem(1, 1, auto);
		}

		> .Pagination {
			@include FlexItem(0, 0, auto);
			margin: 0;
		}
	}

	.ResultsTable {
		margin: 0;

		th {
			font-weight: normal;
			white-space: nowrap;

			&.IsSorting {
				font-weight: bold;
			}

			&.Sortable {
				cursor: pointer;

				.SortableIcon {
					display: inline-block;
					background-image: url("/App/Images/SearchFields/Sortable.png");
					background-repeat: no-repeat;
					background-position: 0 1px;
					width: 9px;
					height: 13px;
				}
			}

			@include ExtraSmall {
				padding: 2px;
				padding-bottom: 8px;
			}
		}

		.SearchResult {
			[draggable] {
				-moz-user-select: none;
				-webkit-user-select: none;
				user-select: none;
			}

			td {
				margin: 0;
				padding: 0;
				vertical-align: middle;

				a {
					margin: 8px;
					display: block;
					color: #444;
					text-decoration: none;

					&:hover {
						text-decoration: none;
					}

					@include ExtraSmall {
						margin: 8px 4px;
					}
				}

				&.Remove {
					width: 50px;
					padding-left: 10px;
				}

				&.Move {
					width: 45px;
					cursor: move;
					text-align: center;
				}

				&.Type {
					cursor: move;
					width: 50px;

					a {
						cursor: move;
					}

					@include Small {
						cursor: initial;

						a {
							cursor: initial;
						}
					}

					@include ExtraSmall {
						cursor: initial;
						width: 44px;

						a {
							cursor: initial;
						}
					}
				}
			}
		}
	}

	.DragElement {
		position: fixed;
		top: 150px;
		padding: 4px;
		background-color: $BackgroundAccentAlternateColor;
		border-radius: 5px;
		border: 1px solid $HighlightColor;

		&.TopDragging {
			top: 200px;
		}
	}

	.Tools {
		margin: 10px 0;

		button {
			float: right;
		}
	}
}