﻿@mixin Flex{
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}

@mixin FlexColumn{
	@include Flex;
	-ms-flex-direction: column;
	-webkit-flex-direction: column;
	flex-direction: column;
}

@mixin FlexStretch{
	-ms-align-items: stretch;
	-webkit-align-items: stretch;
	align-items: stretch;
}

@mixin CenterFlex {
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
}

@mixin FlexSelfCenter{
	-ms-align-self: center;
	-webkit-align-self: center;
	align-self: center;
}

@mixin FlexItem($grow, $shrink, $basis){
	-ms-flex: $grow $shrink $basis;
	-webkit-flex: $grow $shrink $basis;
	flex: $grow $shrink $basis;
}

@mixin FullSize{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.CenterContent {
	@include Flex;
	@include CenterFlex;
	width: 100%;
	height: 100%;
}

.FullSize {
	@include FullSize;
}

.VerticalFlex {
	@include FlexColumn;
}

.FlexFill {
	@include FlexItem(1, 1, auto);
	overflow: hidden;
}

.FlexShrink {
    @include FlexItem(0, 1, auto);
    overflow: hidden;
}

.HiddenOverflow {
	overflow: hidden;
}

.VerticalScroll {
	overflow-y: auto;
}

.Inline {
	display: inline-block;
}

.Rotate {
	-moz-animation: Roll 3s infinite;
	-o-animation: Roll 3s infinite;
	-webkit-animation: Roll 3s infinite;
	animation: Roll 3s infinite;
}

@-moz-keyframes Roll {
  from {-moz-transform: rotate(0);}
  to { -moz-transform: rotate(360deg);}
}

@-webkit-keyframes Roll {
  from {-webkit-transform: rotate(0);}
  to { -webkit-transform: rotate(360deg);}
}

@keyframes Roll {
  from {transform: rotate(0);}
  to { transform: rotate(360deg);}
}