﻿@mixin ExtraSmall {
	@media (max-width: 767px) {
		@content;
	}
}

@mixin Small {
	@media (min-width: 768px) and (max-width: 991px) {
		@content;
	}
}

@mixin Medium {
	@media (min-width: 992px) and (max-width: 1199px) {
		@content;
	}
}

@mixin Large {
	@media (min-width: 1200px) {
		@content;
	}
}
