﻿@import "SizeScrolling";

.TermsPage {
	@include FullSize;
	margin-top: 30px;
	overflow:hidden;
	overflow-y: auto;
}

.TermsDialog {
	max-height: 400px;
	overflow: hidden;
	overflow-y: auto;
}

.TermsPage, .TermsDialog {
	h5 {
		font-weight: 600;
	}
	.Revised {
		float: right;
	}
}