﻿@import "Colors";

@mixin TobBottomBorder($color:$BorderColor)
{
	border-top: solid 1px $color;
	border-bottom: solid 1px $color;
}

@mixin Border($color:$BorderColor)
{
	border: solid 1px $color;
}

@mixin AlternateBorder
{
	@include Border($AlternateBorderColor);
}

@mixin NoBorderButton {
	button {
			padding: 0 0 0 3px;
			border: none;
			background-color: transparent;
			font-size:12px;
			color: $TextAlternateColor;
			box-shadow: none;
			&:hover{
				color:$HighlightColor;
			}
			&:active{
				color:$HighlightAlternateColor;
			}
		}
}

@mixin keyframes($animationName) {
    @-webkit-keyframes #{$animationName} {
        @content;
    }
    @-moz-keyframes #{$animationName} {
        @content;
    }  
    @-ms-keyframes #{$animationName} {
        @content;
    }
    @-o-keyframes #{$animationName} {
        @content;
    }  
    @keyframes #{$animationName} {
        @content;
    }
}

@mixin animation($parameters...) {
  -webkit-animation: $parameters;
  -moz-animation: $parameters;
  -ms-animation: $parameters;
  -o-animation: $parameters;
  animation: $parameters;
}