﻿@import "Colors";
@import "Utility";
@import "SizeScrolling";
@import "InputRange";
@import "Size";

@import "Player";
@import "SearchPage";
@import "DateDrillDown";
@import "Asset";
@import "AddAssetToFolderDialog";
@import "Menu";
@import "EditProject";
@import "Terms";
@import "Analyse";
@import "FullLength";
@import "Tools";

html, body, .Shell {
	height: 100%;
	width: 100%;
	overflow: hidden;
}

a {
	color: $HighlightColor;
}

a:focus, button:focus, button:active, input {
	outline: none !important;
}

.navbar-brand {
	padding-top: 5px;
	padding-bottom: 0;
}

.navbar {
	margin-bottom: 0;
}

.caret.caret-reversed {
    border-top: none;
    border-bottom: 4px solid #000000;
}

.modal .modal-dialog.IsWide {
	width: 800px;
}

.btn .btn-danger {
	background-color: $HighlightAlternateColor;
}

.btn .btn-primary, .pagination > .active > a, .pagination > .active, .list-group-item.active {
	background-color: $HighlightColor;
}

.pagination > li > a {
	color: $HighlightColor;
}

.alert.alert-danger {
	background-color: $LightHighlightAlternateColor;
}

.Shell {
	@include FlexColumn;
	align-items: stretch;

	> .TopBarContainer {
		@include FlexItem(0, 0, auto);

		.TopBarInner {
			max-width: 1550px;

			.ProfileMenu li .dropdown-toggle {
				img {
					vertical-align: baseline;
					height: 1em;
				}

				span {
					font-size: 1.1em;
				}
			}
		}

		.navbar {
			border-bottom: 1px darkgray solid;
			border-radius: 0;
			background: linear-gradient(#f8f8f8, #e9e9e9);
		}
	}

	> .ContentContainer {
		@include Flex;
		@include FlexStretch;
		@include FlexSelfCenter;

		@include FlexItem(1, 1, auto);
		width: 100%;
		max-width: 1550px;
		overflow: hidden;
		position: relative;

		> .PageContainer {
			@include FlexItem(1, 1, auto);
			overflow: hidden;
			position: relative;
			margin-right: 25px;

			@include ExtraSmall {
				margin-left: 10px;
				margin-right: 10px;
			}

			@include Small {
				margin-left: 15px;
				margin-right: 15px;
			}

			h3 {
				margin-top: 10px;
			}
		}
	}

	> .CookieDialog {
		position: fixed;
		width: 310px;
		right: 0;
		bottom: 0;
		padding: 0 10px 10px;
		background-color: $BackgroundAccentColor;
		border: 2px solid $BorderColor;
		border-bottom: none;
		border-right: none;
		border-top-left-radius: 5px;
	}
}