﻿.CenterContent {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  width: 100%;
  height: 100%; }

.FullSize {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }

.VerticalFlex {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column; }

.FlexFill {
  -ms-flex: 1 1 auto;
  -webkit-flex: 1 1 auto;
  flex: 1 1 auto;
  overflow: hidden; }

.FlexShrink {
  -ms-flex: 0 1 auto;
  -webkit-flex: 0 1 auto;
  flex: 0 1 auto;
  overflow: hidden; }

.HiddenOverflow {
  overflow: hidden; }

.VerticalScroll {
  overflow-y: auto; }

.Inline {
  display: inline-block; }

.Rotate {
  -moz-animation: Roll 3s infinite;
  -o-animation: Roll 3s infinite;
  -webkit-animation: Roll 3s infinite;
  animation: Roll 3s infinite; }

@-moz-keyframes Roll {
  from {
    -moz-transform: rotate(0); }
  to {
    -moz-transform: rotate(360deg); } }

@-webkit-keyframes Roll {
  from {
    -webkit-transform: rotate(0); }
  to {
    -webkit-transform: rotate(360deg); } }

@keyframes Roll {
  from {
    transform: rotate(0); }
  to {
    transform: rotate(360deg); } }

input[type=range] {
  -webkit-appearance: none;
  margin: 5px 0;
  width: 100%; }
  input[type=range]:focus {
    outline: none; }
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 4px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #777, 0 0 0px #848484;
    background: #F0F1F2;
    border-radius: 2px;
    border: 1px solid #999; }
  input[type=range]::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px #999, 0 0 0px #a6a6a6;
    border: 1px solid #999;
    height: 10px;
    width: 10px;
    border-radius: 5px;
    background: #0066B1;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -4px; }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #fefefe; }
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 4px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #777, 0 0 0px #848484;
    background: #F0F1F2;
    border-radius: 2px;
    border: 1px solid #999; }
  input[type=range]::-moz-range-thumb {
    box-shadow: 0px 0px 0px #999, 0 0 0px #a6a6a6;
    border: 1px solid #999;
    height: 10px;
    width: 10px;
    border-radius: 5px;
    background: #0066B1;
    cursor: pointer; }
  input[type=range]::-ms-track {
    width: 100%;
    height: 4px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    border-width: 10px 0;
    color: transparent; }
  input[type=range]::-ms-fill-lower {
    background: #e2e4e6;
    border: 1px solid #999;
    border-radius: 4px;
    box-shadow: 0px 0px 0px #777, 0 0 0px #848484; }
  input[type=range]::-ms-fill-upper {
    background: #F0F1F2;
    border: 1px solid #999;
    border-radius: 4px;
    box-shadow: 0px 0px 0px #777, 0 0 0px #848484; }
  input[type=range]::-ms-thumb {
    box-shadow: 0px 0px 0px #999, 0 0 0px #a6a6a6;
    border: 1px solid #999;
    height: 10px;
    width: 10px;
    border-radius: 5px;
    background: #0066B1;
    cursor: pointer; }
  input[type=range]:focus::-ms-fill-lower {
    background: #F0F1F2; }
  input[type=range]:focus::-ms-fill-upper {
    background: #fefefe; }

.CenterContent {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  width: 100%;
  height: 100%; }

.FullSize {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }

.VerticalFlex {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column; }

.FlexFill {
  -ms-flex: 1 1 auto;
  -webkit-flex: 1 1 auto;
  flex: 1 1 auto;
  overflow: hidden; }

.FlexShrink {
  -ms-flex: 0 1 auto;
  -webkit-flex: 0 1 auto;
  flex: 0 1 auto;
  overflow: hidden; }

.HiddenOverflow {
  overflow: hidden; }

.VerticalScroll {
  overflow-y: auto; }

.Inline {
  display: inline-block; }

.Rotate {
  -moz-animation: Roll 3s infinite;
  -o-animation: Roll 3s infinite;
  -webkit-animation: Roll 3s infinite;
  animation: Roll 3s infinite; }

@-moz-keyframes Roll {
  from {
    -moz-transform: rotate(0); }
  to {
    -moz-transform: rotate(360deg); } }

@-webkit-keyframes Roll {
  from {
    -webkit-transform: rotate(0); }
  to {
    -webkit-transform: rotate(360deg); } }

@keyframes Roll {
  from {
    transform: rotate(0); }
  to {
    transform: rotate(360deg); } }

.Player .PDF, .Player .Image {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  height: 300px; }
  .Player .PDF.Big, .Player .Image.Big {
    height: 700px; }
  .Player .PDF .Menu, .Player .Image .Menu {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    -ms-flex: 0 1 auto;
    -webkit-flex: 0 1 auto;
    flex: 0 1 auto;
    margin: 0 10px; }
    .Player .PDF .Menu .PageList, .Player .Image .Menu .PageList {
      -ms-flex: 1 1 auto;
      -webkit-flex: 1 1 auto;
      flex: 1 1 auto;
      margin-top: 10px;
      margin-bottom: 0;
      overflow-x: hidden;
      overflow-y: auto;
      min-width: 200px; }

.Player .PDF iframe {
  border: none;
  -ms-flex: 1 1 auto;
  -webkit-flex: 1 1 auto;
  flex: 1 1 auto;
  min-height: 100%; }

@media (max-width: 767px) {
  .Player .PDF, .Player .Image {
    height: initial; }
    .Player .PDF .FileList, .Player .Image .FileList {
      margin: 0;
      -ms-flex: 1 1 auto;
      -webkit-flex: 1 1 auto;
      flex: 1 1 auto; }
      .Player .PDF .FileList .panel-body, .Player .Image .FileList .panel-body {
        padding: 0; }
        .Player .PDF .FileList .panel-body .btn, .Player .Image .FileList .panel-body .btn {
          float: left;
          margin: 5px; }
  .Player .InlinePlayer {
    display: block; } }

@media (min-width: 768px) and (max-width: 991px) {
  .Player .InlinePlayer {
    margin-bottom: 20px; } }

.Player .InlinePlayer .AudioPosition {
  margin: 0;
  padding: 15px 15px 20px; }
  .Player .InlinePlayer .AudioPosition input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    margin: 2px 0; }
  .Player .InlinePlayer .AudioPosition input[type=range]:focus {
    outline: none; }
  .Player .InlinePlayer .AudioPosition input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 20px;
    cursor: pointer;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    background: rgba(240, 241, 242, 0.78);
    border-radius: 0px;
    border: 1px solid #dbdcdd; }
  .Player .InlinePlayer .AudioPosition input[type=range]::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px #000031, 0px 0px 0px #00004b;
    border: 1.8px solid #dbdcdd;
    height: 24px;
    width: 24px;
    border-radius: 10px;
    background: #0066b1;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -3px; }
  .Player .InlinePlayer .AudioPosition input[type=range]:focus::-webkit-slider-runnable-track {
    background: rgba(254, 254, 254, 0.78); }
  .Player .InlinePlayer .AudioPosition input[type=range]::-moz-range-track {
    width: 100%;
    height: 20px;
    cursor: pointer;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    background: rgba(240, 241, 242, 0.78);
    border-radius: 0px;
    border: 1px solid #dbdcdd; }
  .Player .InlinePlayer .AudioPosition input[type=range]::-moz-range-thumb {
    box-shadow: 0px 0px 0px #000031, 0px 0px 0px #00004b;
    border: 1.8px solid #dbdcdd;
    height: 24px;
    width: 24px;
    border-radius: 10px;
    background: #0066b1;
    cursor: pointer; }
  .Player .InlinePlayer .AudioPosition input[type=range]::-ms-track {
    width: 100%;
    height: 20px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent; }
  .Player .InlinePlayer .AudioPosition input[type=range]::-ms-fill-lower {
    background: rgba(226, 228, 230, 0.78);
    border: 1px solid #dbdcdd;
    border-radius: 0px;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d; }
  .Player .InlinePlayer .AudioPosition input[type=range]::-ms-fill-upper {
    background: rgba(240, 241, 242, 0.78);
    border: 1px solid #dbdcdd;
    border-radius: 0px;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d; }
  .Player .InlinePlayer .AudioPosition input[type=range]::-ms-thumb {
    box-shadow: 0px 0px 0px #000031, 0px 0px 0px #00004b;
    border: 1.8px solid #dbdcdd;
    height: 24px;
    width: 24px;
    border-radius: 10px;
    background: #0066b1;
    cursor: pointer;
    height: 20px; }
  .Player .InlinePlayer .AudioPosition input[type=range]:focus::-ms-fill-lower {
    background: rgba(240, 241, 242, 0.78); }
  .Player .InlinePlayer .AudioPosition input[type=range]:focus::-ms-fill-upper {
    background: rgba(254, 254, 254, 0.78); }

.Player .Image .ImageContainer {
  -ms-flex: 1 1 auto;
  -webkit-flex: 1 1 auto;
  flex: 1 1 auto;
  overflow: hidden;
  overflow-y: auto; }
  .Player .Image .ImageContainer img {
    width: 100%; }

.Player .Video {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column; }

.Player select {
  height: 26px;
  position: relative;
  top: 1px; }

.Player .Volume {
  width: 100px;
  height: 19px;
  display: inline-block;
  margin: 0 20px 0 0;
  position: relative;
  top: 4px; }

.Player .VolumeButton {
  margin-left: 20px;
  display: inline-block;
  width: 20px;
  height: 18px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-image: url("/App/Images/Players/vol_full_default.png"); }
  .Player .VolumeButton.Muted {
    background-image: url("/App/Images/Players/vol_off_default.png"); }

.Player .Layout {
  margin: 0 20px 0 0; }

.Player .Button {
  display: inline-block;
  width: 30px;
  height: 26px;
  cursor: pointer;
  padding-top: 2px;
  padding-left: 4px;
  background-repeat: no-repeat;
  background-image: url("/App/Images/Players/bt-single-default.png"); }
  .Player .Button.Wide {
    width: 48px;
    background-size: 100% 100%; }
  .Player .Button:hover {
    background-image: url("/App/Images/Players/bt-single-over.png"); }
  .Player .Button:active {
    background-image: url("/App/Images/Players/bt-single-down.png"); }
  .Player .Button.Primary {
    width: 40px;
    margin-right: 20px;
    padding-left: 12px;
    background-image: url("/App/Images/Players/ButtonBigPrimaryDefault.png"); }
    .Player .Button.Primary:hover {
      background-image: url("/App/Images/Players/ButtonBigPrimaryOver.png"); }
    .Player .Button.Primary:active {
      background-image: url("/App/Images/Players/ButtonBigPrimaryDown.png"); }

.Player .MediaError {
  color: #ff0000;
  margin: 5px; }

.CenterContent {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  width: 100%;
  height: 100%; }

.FullSize {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }

.VerticalFlex {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column; }

.FlexFill {
  -ms-flex: 1 1 auto;
  -webkit-flex: 1 1 auto;
  flex: 1 1 auto;
  overflow: hidden; }

.FlexShrink {
  -ms-flex: 0 1 auto;
  -webkit-flex: 0 1 auto;
  flex: 0 1 auto;
  overflow: hidden; }

.HiddenOverflow {
  overflow: hidden; }

.VerticalScroll {
  overflow-y: auto; }

.Inline {
  display: inline-block; }

.Rotate {
  -moz-animation: Roll 3s infinite;
  -o-animation: Roll 3s infinite;
  -webkit-animation: Roll 3s infinite;
  animation: Roll 3s infinite; }

@-moz-keyframes Roll {
  from {
    -moz-transform: rotate(0); }
  to {
    -moz-transform: rotate(360deg); } }

@-webkit-keyframes Roll {
  from {
    -webkit-transform: rotate(0); }
  to {
    -webkit-transform: rotate(360deg); } }

@keyframes Roll {
  from {
    transform: rotate(0); }
  to {
    transform: rotate(360deg); } }

.SearchPage nav {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  -ms-flex: 0 0 auto;
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
  -webkit-flex-wrap: wrap-reverse;
  flex-wrap: wrap-reverse;
  padding: 10px; }
  .SearchPage nav > .Description {
    margin-right: 10px;
    -ms-flex: 1 1 auto;
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto; }
  .SearchPage nav > .Pagination {
    -ms-flex: 0 0 auto;
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto;
    margin: 0; }

.SearchPage .ResultsTable {
  margin: 0; }
  .SearchPage .ResultsTable th {
    font-weight: normal;
    white-space: nowrap; }
    .SearchPage .ResultsTable th.IsSorting {
      font-weight: bold; }
    .SearchPage .ResultsTable th.Sortable {
      cursor: pointer; }
      .SearchPage .ResultsTable th.Sortable .SortableIcon {
        display: inline-block;
        background-image: url("/App/Images/SearchFields/Sortable.png");
        background-repeat: no-repeat;
        background-position: 0 1px;
        width: 9px;
        height: 13px; }
    @media (max-width: 767px) {
      .SearchPage .ResultsTable th {
        padding: 2px;
        padding-bottom: 8px; } }
  .SearchPage .ResultsTable .SearchResult [draggable] {
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none; }
  .SearchPage .ResultsTable .SearchResult td {
    margin: 0;
    padding: 0;
    vertical-align: middle; }
    .SearchPage .ResultsTable .SearchResult td a {
      margin: 8px;
      display: block;
      color: #444;
      text-decoration: none; }
      .SearchPage .ResultsTable .SearchResult td a:hover {
        text-decoration: none; }
      @media (max-width: 767px) {
        .SearchPage .ResultsTable .SearchResult td a {
          margin: 8px 4px; } }
    .SearchPage .ResultsTable .SearchResult td.Remove {
      width: 50px;
      padding-left: 10px; }
    .SearchPage .ResultsTable .SearchResult td.Move {
      width: 45px;
      cursor: move;
      text-align: center; }
    .SearchPage .ResultsTable .SearchResult td.Type {
      cursor: move;
      width: 50px; }
      .SearchPage .ResultsTable .SearchResult td.Type a {
        cursor: move; }
      @media (min-width: 768px) and (max-width: 991px) {
        .SearchPage .ResultsTable .SearchResult td.Type {
          cursor: initial; }
          .SearchPage .ResultsTable .SearchResult td.Type a {
            cursor: initial; } }
      @media (max-width: 767px) {
        .SearchPage .ResultsTable .SearchResult td.Type {
          cursor: initial;
          width: 44px; }
          .SearchPage .ResultsTable .SearchResult td.Type a {
            cursor: initial; } }

.SearchPage .DragElement {
  position: fixed;
  top: 150px;
  padding: 4px;
  background-color: #F8F9FA;
  border-radius: 5px;
  border: 1px solid #0066B1; }
  .SearchPage .DragElement.TopDragging {
    top: 200px; }

.SearchPage .Tools {
  margin: 10px 0; }
  .SearchPage .Tools button {
    float: right; }

.modal .DateDrillDown .Breacrumbs button.CantChange {
  border: none;
  cursor: default;
  background: transparent; }

.modal .DateDrillDown .Options .btn {
  margin-bottom: 5px;
  min-width: 50px; }

.modal .DateDrillDown .LinkButton {
  color: #0066B1;
  border: none;
  background: transparent;
  padding: 0;
  margin: 0; }

.CenterContent {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  width: 100%;
  height: 100%; }

.FullSize {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }

.VerticalFlex {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column; }

.FlexFill {
  -ms-flex: 1 1 auto;
  -webkit-flex: 1 1 auto;
  flex: 1 1 auto;
  overflow: hidden; }

.FlexShrink {
  -ms-flex: 0 1 auto;
  -webkit-flex: 0 1 auto;
  flex: 0 1 auto;
  overflow: hidden; }

.HiddenOverflow {
  overflow: hidden; }

.VerticalScroll {
  overflow-y: auto; }

.Inline {
  display: inline-block; }

.Rotate {
  -moz-animation: Roll 3s infinite;
  -o-animation: Roll 3s infinite;
  -webkit-animation: Roll 3s infinite;
  animation: Roll 3s infinite; }

@-moz-keyframes Roll {
  from {
    -moz-transform: rotate(0); }
  to {
    -moz-transform: rotate(360deg); } }

@-webkit-keyframes Roll {
  from {
    -webkit-transform: rotate(0); }
  to {
    -webkit-transform: rotate(360deg); } }

@keyframes Roll {
  from {
    transform: rotate(0); }
  to {
    transform: rotate(360deg); } }

.Asset {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto; }
  .Asset h3 {
    -ms-flex: 0 0 auto;
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto; }
    .Asset h3 .dragIcon {
      cursor: move; }
  .Asset .Player {
    -ms-flex: 0 0 auto;
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto; }
    .Asset .Player .Video {
      margin-bottom: 10px; }
      .Asset .Player .Video video {
        height: 360px; }
        @media (max-width: 767px) {
          .Asset .Player .Video video {
            height: initial;
            width: 100%; } }
    .Asset .Player .SideBySide {
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-align-items: center;
      align-items: center;
      -webkit-justify-content: center;
      justify-content: center; }
      .Asset .Player .SideBySide div {
        -ms-flex: 1 1 auto;
        -webkit-flex: 1 1 auto;
        flex: 1 1 auto; }
      .Asset .Player .SideBySide .BigPlayer {
        -ms-flex: 0 0 auto;
        -webkit-flex: 0 0 auto;
        flex: 0 0 auto;
        margin-right: 10px;
        padding-top: 4px; }
        .Asset .Player .SideBySide .BigPlayer video {
          min-width: 240px;
          max-height: 254px; }
    .Asset .Player .Timeline {
      margin-bottom: 4px; }
      .Asset .Player .Timeline .vis-foreground {
        cursor: move;
        cursor: -webkit-grab;
        cursor: grab; }
      .Asset .Player .Timeline .vis-item {
        border: solid 1px #E7E6E8;
        background-color: #F8F9FA;
        cursor: pointer; }
        .Asset .Player .Timeline .vis-item.vis-selected {
          background-color: #FFDF9B; }
        .Asset .Player .Timeline .vis-item .vis-delete {
          top: -2px;
          right: -20px;
          width: 16px;
          height: 16px;
          padding: 0 0 0 1px;
          margin: 0;
          line-height: 16px; }
    .Asset .Player .Timeline.IsDragging .vis-foreground {
      cursor: -webkit-grabbing;
      cursor: grabbing; }
    .Asset .Player .TimedToolbar .Group {
      margin-left: 30px; }
  .Asset .AddToFolder {
    -ms-flex: 0 0 auto;
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto;
    margin-top: 10px; }
  .Asset .TabContainer {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    -ms-flex: 1 1 auto;
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;
    position: relative;
    overflow: hidden;
    margin-top: 40px;
    min-height: 300px; }
    @media (max-width: 767px) {
      .Asset .TabContainer {
        margin-top: 20px; } }
    .Asset .TabContainer > ul {
      -ms-flex: 0 0 auto;
      -webkit-flex: 0 0 auto;
      flex: 0 0 auto; }
    .Asset .TabContainer .nav.nav-tabs .dropdown-menu {
      z-index: 25000 !important; }
    .Asset .TabContainer .nav.nav-tabs a {
      cursor: pointer;
      touch-action: manipulation; }
    .Asset .TabContainer .tab-content {
      -ms-flex: 1 1 auto;
      -webkit-flex: 1 1 auto;
      flex: 1 1 auto;
      overflow: hidden;
      overflow-y: auto; }
    .Asset .TabContainer .Data textarea {
      resize: none;
      overflow: hidden; }
    .Asset .TabContainer .Data .FieldData > span {
      margin: 0;
      min-height: 2em; }
    .Asset .TabContainer .Data .FieldData .EditControls {
      display: inline-block;
      float: right; }
    .Asset .TabContainer .Data .FieldData .ClosedList {
      margin-bottom: 3px; }
      .Asset .TabContainer .Data .FieldData .ClosedList .twitter-typeahead {
        width: 100%; }
    .Asset .TabContainer .Data > table > tbody > tr > td:first-child {
      width: 168px; }
    .Asset .TabContainer .Data .TableData .OverlayHeader {
      height: 37px;
      position: absolute;
      top: 42px;
      background-color: white;
      border-bottom: 2px solid #ddd;
      overflow: hidden; }
      .Asset .TabContainer .Data .TableData .OverlayHeader > div {
        font-weight: bold;
        padding: 8px;
        display: inline-block; }
    .Asset .TabContainer .Data .TableData table td {
      padding: 5px;
      font-size: 12px; }
      .Asset .TabContainer .Data .TableData table td span.Collapsed {
        display: block;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        cursor: pointer; }
      .Asset .TabContainer .Data .TableData table td input[type=text] {
        width: 100%; }
    .Asset .TabContainer .Data .TableData table tr.Expanded {
      background-color: #f9f9f9; }
      .Asset .TabContainer .Data .TableData table tr.Expanded td > div {
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        padding: 15px; }
        .Asset .TabContainer .Data .TableData table tr.Expanded td > div div {
          -ms-flex: 0 0 auto;
          -webkit-flex: 0 0 auto;
          flex: 0 0 auto;
          padding-left: 30px; }
        .Asset .TabContainer .Data .TableData table tr.Expanded td > div div:first-child {
          -ms-flex: 1 1 auto;
          -webkit-flex: 1 1 auto;
          flex: 1 1 auto;
          padding-left: 0; }
    .Asset .TabContainer .table > tbody > tr:first-of-type > td {
      border-top: none; }
    .Asset .TabContainer .List table {
      table-layout: fixed; }
      .Asset .TabContainer .List table .table {
        margin-bottom: 5px; }
      .Asset .TabContainer .List table .Selected {
        background-color: #FFDF9B; }
      .Asset .TabContainer .List table .Details {
        background-color: #F0F1F2; }
        .Asset .TabContainer .List table .Details .Ownership {
          display: inline-block;
          float: right;
          position: relative;
          top: 2px; }
        .Asset .TabContainer .List table .Details .Controls input[type="checkbox"] {
          margin-left: 15px;
          margin-right: 4px; }
        .Asset .TabContainer .List table .Details .Controls label {
          position: relative;
          top: 2px;
          font-weight: normal; }
        .Asset .TabContainer .List table .Details .EditControls {
          margin-top: 5px; }
      .Asset .TabContainer .List table th.Play {
        width: 70px; }
      .Asset .TabContainer .List table th.Start {
        width: 100px; }
      .Asset .TabContainer .List table th.End {
        width: 100px; }
      .Asset .TabContainer .List table th.Duration {
        width: 100px; }
      .Asset .TabContainer .List table th.Text {
        width: auto; }
      .Asset .TabContainer .List table th.CollapseState {
        width: 65px; }
      .Asset .TabContainer .List table td.CollapseState {
        position: relative; }
        .Asset .TabContainer .List table td.CollapseState .Lock {
          position: absolute;
          left: 27px;
          top: 12px; }
        .Asset .TabContainer .List table td.CollapseState .Right {
          position: absolute;
          right: 15px;
          top: 15px; }
      .Asset .TabContainer .List table .Title {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis; }
      .Asset .TabContainer .List table ~ button {
        margin-bottom: 20px; }
    .Asset .TabContainer .List .Footer {
      margin-bottom: 20px; }
      .Asset .TabContainer .List .Footer button {
        margin-right: 20px; }
      .Asset .TabContainer .List .Footer select {
        height: 26px; }
  .Asset .DragElement {
    position: fixed;
    top: 150px;
    padding: 4px;
    background-color: #F8F9FA;
    border-radius: 5px;
    border: 1px solid #0066B1; }
    .Asset .DragElement.TopDragging {
      top: 200px; }

.modal-body.AddAssetToFolder .Project > .Name {
  background-color: #F0F1F2;
  padding: 3px;
  font-size: 16px; }

.modal-body.AddAssetToFolder .Project .Label {
  margin-left: 20px; }
  .modal-body.AddAssetToFolder .Project .Label .Header .Title {
    padding: 3px 0; }
  .modal-body.AddAssetToFolder .Project .Label .AddableLabel {
    cursor: pointer;
    padding: 5px 3px;
    border-top: 1px solid #DBDCDD;
    width: 100%;
    background-color: #F8F9FA; }
    .modal-body.AddAssetToFolder .Project .Label .AddableLabel .glyphicon {
      float: right; }

.CenterContent {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  width: 100%;
  height: 100%; }

.FullSize {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }

.VerticalFlex {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column; }

.FlexFill {
  -ms-flex: 1 1 auto;
  -webkit-flex: 1 1 auto;
  flex: 1 1 auto;
  overflow: hidden; }

.FlexShrink {
  -ms-flex: 0 1 auto;
  -webkit-flex: 0 1 auto;
  flex: 0 1 auto;
  overflow: hidden; }

.HiddenOverflow {
  overflow: hidden; }

.VerticalScroll {
  overflow-y: auto; }

.Inline {
  display: inline-block; }

.Rotate {
  -moz-animation: Roll 3s infinite;
  -o-animation: Roll 3s infinite;
  -webkit-animation: Roll 3s infinite;
  animation: Roll 3s infinite; }

@-moz-keyframes Roll {
  from {
    -moz-transform: rotate(0); }
  to {
    -moz-transform: rotate(360deg); } }

@-webkit-keyframes Roll {
  from {
    -webkit-transform: rotate(0); }
  to {
    -webkit-transform: rotate(360deg); } }

@keyframes Roll {
  from {
    transform: rotate(0); }
  to {
    transform: rotate(360deg); } }

.MenuContainer {
  border: solid 1px #E7E6E8;
  -ms-flex: 0 0 auto;
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
  position: relative;
  width: 290px;
  margin-top: 2px;
  margin-right: 25px;
  padding: 0;
  background-color: #F0F1F2;
  border-radius: 3px;
  color: #777777;
  transition: width 0.5s;
  z-index: 100; }
  .MenuContainer.Collapsed {
    width: 0; }
    @media (min-width: 768px) and (max-width: 991px) {
      .MenuContainer.Collapsed {
        padding-left: 0px;
        padding-right: 0px; } }
    @media (max-width: 767px) {
      .MenuContainer.Collapsed {
        padding-left: 0px;
        padding-right: 0px; } }
  @media (min-width: 768px) and (max-width: 991px) {
    .MenuContainer {
      position: absolute;
      margin-right: 0px;
      padding-left: 10px;
      padding-right: 10px;
      top: -2px;
      bottom: 0px;
      border-radius: 0px; } }
  @media (max-width: 767px) {
    .MenuContainer {
      position: absolute;
      margin-right: 0px;
      padding-left: 10px;
      padding-right: 10px;
      top: -2px;
      bottom: 0px;
      left: 0;
      right: 0;
      width: 100%;
      border-radius: 0px; } }
  .MenuContainer .ToggleButton {
    border: solid 1px #E7E6E8;
    position: absolute;
    top: 10px;
    right: -18px;
    width: 18px;
    height: 34px;
    z-index: 10;
    padding: 0;
    margin: 0;
    border-left: none;
    border-radius: 0 3px 3px 0;
    background-color: #F0F1F2; }
    @media (min-width: 768px) and (max-width: 991px) {
      .MenuContainer .ToggleButton {
        top: -1px;
        right: -30px;
        width: 30px;
        height: 40px;
        border-top-right-radius: 0px; } }
    @media (max-width: 767px) {
      .MenuContainer .ToggleButton {
        top: 9px;
        right: 0;
        width: 50px;
        height: 61px;
        border-left: inherit;
        border-top-right-radius: 0px; } }
  @media (max-width: 767px) {
    .MenuContainer.Collapsed .ToggleButton {
      top: -1px;
      right: -30px;
      width: 30px;
      height: 40px; } }
  .MenuContainer > .Container {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    height: 100%;
    overflow-y: hidden; }
    .MenuContainer > .Container .QueryForm {
      padding: 10px 5px 10px 5px;
      -ms-flex: 0 0 auto;
      -webkit-flex: 0 0 auto;
      flex: 0 0 auto; }
      @media (max-width: 767px) {
        .MenuContainer > .Container .QueryForm {
          margin-right: 40px; } }
      .MenuContainer > .Container .QueryForm input {
        border-radius: 3px; }
      .MenuContainer > .Container .QueryForm .form-group {
        margin-bottom: 2px; }
        .MenuContainer > .Container .QueryForm .form-group button {
          width: 49%; }
    .MenuContainer > .Container > div.VerticalScroll {
      -ms-flex: 1 1 auto;
      -webkit-flex: 1 1 auto;
      flex: 1 1 auto; }
    .MenuContainer > .Container .Group:not(.Collapsed):not(:last-of-type), .MenuContainer > .Container .LabelFolder:not(.Collapsed):not(:last-of-type) {
      margin-bottom: 15px; }
    .MenuContainer > .Container .Group .Header, .MenuContainer > .Container .LabelFolder .Header {
      border-top: solid 1px #E7E6E8;
      border-bottom: solid 1px #E7E6E8;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      border-top-width: 2px;
      padding: 4px 2px 4px 2px;
      padding-left: 5px;
      font-size: 16px;
      cursor: pointer;
      background-color: #F8F9FA;
      border-top-color: #0066B1; }
      .MenuContainer > .Container .Group .Header button, .MenuContainer > .Container .LabelFolder .Header button {
        padding: 0 0 0 3px;
        border: none;
        background-color: transparent;
        font-size: 12px;
        color: #777777;
        box-shadow: none; }
        .MenuContainer > .Container .Group .Header button:hover, .MenuContainer > .Container .LabelFolder .Header button:hover {
          color: #0066B1; }
        .MenuContainer > .Container .Group .Header button:active, .MenuContainer > .Container .LabelFolder .Header button:active {
          color: #F15A23; }
      .MenuContainer > .Container .Group .Header .Title, .MenuContainer > .Container .LabelFolder .Header .Title {
        -ms-flex: 1 1 auto;
        -webkit-flex: 1 1 auto;
        flex: 1 1 auto; }
      .MenuContainer > .Container .Group .Header .CollapseToggle, .MenuContainer > .Container .LabelFolder .Header .CollapseToggle {
        margin: 0 1px 0 5px;
        width: 10px; }
      .MenuContainer > .Container .Group .Header > div, .MenuContainer > .Container .LabelFolder .Header > div {
        display: inline; }
    .MenuContainer > .Container .Group.Collapsed > .Header, .MenuContainer > .Container .LabelFolder.Collapsed > .Header {
      border-bottom: none; }
    .MenuContainer > .Container .Group.Collapsed > .Content, .MenuContainer > .Container .LabelFolder.Collapsed > .Content {
      display: none; }
    .MenuContainer > .Container .Group .Content .Group, .MenuContainer > .Container .Group .Content .LabelFolder, .MenuContainer > .Container .LabelFolder .Content .Group, .MenuContainer > .Container .LabelFolder .Content .LabelFolder {
      margin-bottom: 0; }
      .MenuContainer > .Container .Group .Content .Group .Header, .MenuContainer > .Container .Group .Content .LabelFolder .Header, .MenuContainer > .Container .LabelFolder .Content .Group .Header, .MenuContainer > .Container .LabelFolder .Content .LabelFolder .Header {
        background-color: #F0F1F2;
        color: #0066B1;
        border-color: #E7E6E8;
        font-size: 12px;
        border-top-width: 1px;
        border-bottom: none; }
      .MenuContainer > .Container .Group .Content .Group .Content, .MenuContainer > .Container .Group .Content .LabelFolder .Content, .MenuContainer > .Container .LabelFolder .Content .Group .Content, .MenuContainer > .Container .LabelFolder .Content .LabelFolder .Content {
        padding: 0 2px 3px 2px; }
        .MenuContainer > .Container .Group .Content .Group .Content ul, .MenuContainer > .Container .Group .Content .LabelFolder .Content ul, .MenuContainer > .Container .LabelFolder .Content .Group .Content ul, .MenuContainer > .Container .LabelFolder .Content .LabelFolder .Content ul {
          list-style: none;
          padding: 0;
          margin: 0;
          margin-left: 10px; }
          .MenuContainer > .Container .Group .Content .Group .Content ul li, .MenuContainer > .Container .Group .Content .LabelFolder .Content ul li, .MenuContainer > .Container .LabelFolder .Content .Group .Content ul li, .MenuContainer > .Container .LabelFolder .Content .LabelFolder .Content ul li {
            cursor: pointer;
            padding: 2px 2px 1px 2px;
            border-radius: 5px; }
            .MenuContainer > .Container .Group .Content .Group .Content ul li:hover, .MenuContainer > .Container .Group .Content .LabelFolder .Content ul li:hover, .MenuContainer > .Container .LabelFolder .Content .Group .Content ul li:hover, .MenuContainer > .Container .LabelFolder .Content .LabelFolder .Content ul li:hover {
              background-color: #F8F9FA; }
            .MenuContainer > .Container .Group .Content .Group .Content ul li.Active, .MenuContainer > .Container .Group .Content .LabelFolder .Content ul li.Active, .MenuContainer > .Container .LabelFolder .Content .Group .Content ul li.Active, .MenuContainer > .Container .LabelFolder .Content .LabelFolder .Content ul li.Active {
              background-color: #0066B1;
              color: white; }
            .MenuContainer > .Container .Group .Content .Group .Content ul li .badge, .MenuContainer > .Container .Group .Content .LabelFolder .Content ul li .badge, .MenuContainer > .Container .LabelFolder .Content .Group .Content ul li .badge, .MenuContainer > .Container .LabelFolder .Content .LabelFolder .Content ul li .badge {
              float: right;
              margin-top: 1px; }
            .MenuContainer > .Container .Group .Content .Group .Content ul li a, .MenuContainer > .Container .Group .Content .LabelFolder .Content ul li a, .MenuContainer > .Container .LabelFolder .Content .Group .Content ul li a, .MenuContainer > .Container .LabelFolder .Content .LabelFolder .Content ul li a {
              outline: none;
              color: inherit;
              text-decoration: none;
              display: block; }
      .MenuContainer > .Container .Group .Content .Group.Collapsed .Header, .MenuContainer > .Container .Group .Content .LabelFolder.Collapsed .Header, .MenuContainer > .Container .LabelFolder .Content .Group.Collapsed .Header, .MenuContainer > .Container .LabelFolder .Content .LabelFolder.Collapsed .Header {
        color: #777777; }
    .MenuContainer > .Container .SearchFilter .Group.TimeRange button {
      padding: 0 0 0 3px;
      border: none;
      background-color: transparent;
      font-size: 12px;
      color: #777777;
      box-shadow: none; }
      .MenuContainer > .Container .SearchFilter .Group.TimeRange button:hover {
        color: #0066B1; }
      .MenuContainer > .Container .SearchFilter .Group.TimeRange button:active {
        color: #F15A23; }
    .MenuContainer > .Container .SearchFilter .Group.TimeRange .date {
      margin-bottom: 2px; }
    .MenuContainer > .Container .SearchFilter .Group.TimeRange .btn-group {
      margin-left: 80px; }
    .MenuContainer > .Container .SearchFilter .Group.Facet .ShowAll {
      cursor: pointer;
      margin: 0;
      margin-right: 4px;
      text-align: right; }
    .MenuContainer > .Container .Projects {
      margin-bottom: 25px; }
      .MenuContainer > .Container .Projects.Group > .Header.DragHighlighted {
        background-color: #FFF7E7; }
      @media (max-width: 767px) {
        .MenuContainer > .Container .Projects .ActionButton {
          display: none; } }
      .MenuContainer > .Container .Projects .Group, .MenuContainer > .Container .Projects .LabelFolder {
        border-radius: 5px; }
        .MenuContainer > .Container .Projects .Group .form-group-sm, .MenuContainer > .Container .Projects .LabelFolder .form-group-sm {
          height: 25px; }
        .MenuContainer > .Container .Projects .Group .CustomHeader, .MenuContainer > .Container .Projects .LabelFolder .CustomHeader {
          -ms-flex: 0 1 auto;
          -webkit-flex: 0 1 auto;
          flex: 0 1 auto; }
          .MenuContainer > .Container .Projects .Group .CustomHeader form, .MenuContainer > .Container .Projects .LabelFolder .CustomHeader form {
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex; }
            .MenuContainer > .Container .Projects .Group .CustomHeader form .form-group, .MenuContainer > .Container .Projects .LabelFolder .CustomHeader form .form-group {
              -ms-flex: 1 1 auto;
              -webkit-flex: 1 1 auto;
              flex: 1 1 auto;
              display: block; }
              .MenuContainer > .Container .Projects .Group .CustomHeader form .form-group input, .MenuContainer > .Container .Projects .LabelFolder .CustomHeader form .form-group input {
                width: 100%;
                height: 100%; }
        .MenuContainer > .Container .Projects .Group > .Header.DragHighlighted, .MenuContainer > .Container .Projects .LabelFolder > .Header.DragHighlighted {
          background-color: #FFF7E7; }
        .MenuContainer > .Container .Projects .Group > .Content, .MenuContainer > .Container .Projects .LabelFolder > .Content {
          padding: 0 0 0 6px !important; }
        .MenuContainer > .Container .Projects .Group .Label, .MenuContainer > .Container .Projects .LabelFolder .Label {
          display: -ms-flexbox;
          display: -webkit-flex;
          display: flex;
          -moz-transition: color ease 0.5s;
          -o-transition: color ease 0.5s;
          -webkit-transition: color ease 0.5s;
          transition: color ease 0.5s;
          color: inherit;
          flex: 1 1 auto;
          cursor: pointer;
          border-radius: 5px;
          margin-right: 2px;
          z-index: 1000; }
          .MenuContainer > .Container .Projects .Group .Label form, .MenuContainer > .Container .Projects .LabelFolder .Label form {
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex; }
            .MenuContainer > .Container .Projects .Group .Label form .form-group, .MenuContainer > .Container .Projects .LabelFolder .Label form .form-group {
              -ms-flex: 1 1 auto;
              -webkit-flex: 1 1 auto;
              flex: 1 1 auto;
              display: block; }
              .MenuContainer > .Container .Projects .Group .Label form .form-group input, .MenuContainer > .Container .Projects .LabelFolder .Label form .form-group input {
                width: 100%;
                height: 100%; }
          .MenuContainer > .Container .Projects .Group .Label button, .MenuContainer > .Container .Projects .LabelFolder .Label button {
            padding: 0 0 0 3px;
            border: none;
            background-color: transparent;
            font-size: 12px;
            color: #777777;
            box-shadow: none; }
            .MenuContainer > .Container .Projects .Group .Label button:hover, .MenuContainer > .Container .Projects .LabelFolder .Label button:hover {
              color: #0066B1; }
            .MenuContainer > .Container .Projects .Group .Label button:active, .MenuContainer > .Container .Projects .LabelFolder .Label button:active {
              color: #F15A23; }
          .MenuContainer > .Container .Projects .Group .Label.Associated, .MenuContainer > .Container .Projects .LabelFolder .Label.Associated {
            color: #F15A23; }
          .MenuContainer > .Container .Projects .Group .Label.HoveringDrop, .MenuContainer > .Container .Projects .LabelFolder .Label.HoveringDrop {
            background-color: #FFDF9B; }
          .MenuContainer > .Container .Projects .Group .Label a, .MenuContainer > .Container .Projects .Group .Label form, .MenuContainer > .Container .Projects .LabelFolder .Label a, .MenuContainer > .Container .Projects .LabelFolder .Label form {
            -ms-flex: 1 1 auto;
            -webkit-flex: 1 1 auto;
            flex: 1 1 auto; }
          .MenuContainer > .Container .Projects .Group .Label.Active, .MenuContainer > .Container .Projects .LabelFolder .Label.Active {
            background-color: #0066B1;
            color: white;
            margin: -2px 0px -2px -4px;
            padding: 2px 2px 2px 4px; }
          .MenuContainer > .Container .Projects .Group .Label a, .MenuContainer > .Container .Projects .LabelFolder .Label a {
            outline: none;
            color: inherit;
            text-decoration: none;
            display: block; }

.CenterContent {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  width: 100%;
  height: 100%; }

.FullSize {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }

.VerticalFlex {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column; }

.FlexFill {
  -ms-flex: 1 1 auto;
  -webkit-flex: 1 1 auto;
  flex: 1 1 auto;
  overflow: hidden; }

.FlexShrink {
  -ms-flex: 0 1 auto;
  -webkit-flex: 0 1 auto;
  flex: 0 1 auto;
  overflow: hidden; }

.HiddenOverflow {
  overflow: hidden; }

.VerticalScroll {
  overflow-y: auto; }

.Inline {
  display: inline-block; }

.Rotate {
  -moz-animation: Roll 3s infinite;
  -o-animation: Roll 3s infinite;
  -webkit-animation: Roll 3s infinite;
  animation: Roll 3s infinite; }

@-moz-keyframes Roll {
  from {
    -moz-transform: rotate(0); }
  to {
    -moz-transform: rotate(360deg); } }

@-webkit-keyframes Roll {
  from {
    -webkit-transform: rotate(0); }
  to {
    -webkit-transform: rotate(360deg); } }

@keyframes Roll {
  from {
    transform: rotate(0); }
  to {
    transform: rotate(360deg); } }

.EditProject .tab-content {
  margin-top: 10px; }
  .EditProject .tab-content #EditProjectUsers.active .Members {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex; }
    .EditProject .tab-content #EditProjectUsers.active .Members > div {
      -ms-flex: 1 1 auto;
      -webkit-flex: 1 1 auto;
      flex: 1 1 auto;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -ms-flex-direction: column;
      -webkit-flex-direction: column;
      flex-direction: column;
      margin-left: 10px; }
      .EditProject .tab-content #EditProjectUsers.active .Members > div ul {
        overflow: hidden;
        overflow-y: auto;
        max-height: 300px;
        padding-left: 0; }
        .EditProject .tab-content #EditProjectUsers.active .Members > div ul button {
          padding: 0 0 0 3px;
          border: none;
          background-color: transparent;
          font-size: 12px;
          color: #777777;
          box-shadow: none; }
          .EditProject .tab-content #EditProjectUsers.active .Members > div ul button:hover {
            color: #0066B1; }
          .EditProject .tab-content #EditProjectUsers.active .Members > div ul button:active {
            color: #F15A23; }
        .EditProject .tab-content #EditProjectUsers.active .Members > div ul li {
          list-style: none;
          margin-left: 0; }
          .EditProject .tab-content #EditProjectUsers.active .Members > div ul li .Me {
            margin-left: 18px;
            font-size: 12px;
            color: #777777; }
          .EditProject .tab-content #EditProjectUsers.active .Members > div ul li button.Added {
            -webkit-animation: MemberAdded 2s;
            -moz-animation: MemberAdded 2s;
            -ms-animation: MemberAdded 2s;
            -o-animation: MemberAdded 2s;
            animation: MemberAdded 2s; }
  .EditProject .tab-content #EditProjectName button[type="submit"], .EditProject .tab-content #EditLabelName button[type="submit"] {
    background-color: #0066B1;
    color: white; }
  .EditProject .tab-content #EditProjectName input[type="text"], .EditProject .tab-content #EditLabelName input[type="text"] {
    width: 300px; }

@-webkit-keyframes MemberAdded {
  0% {
    color: none; }
  20% {
    color: #F15A23; }
  80% {
    color: #F15A23; }
  100% {
    color: none; } }

@-moz-keyframes MemberAdded {
  0% {
    color: none; }
  20% {
    color: #F15A23; }
  80% {
    color: #F15A23; }
  100% {
    color: none; } }

@-ms-keyframes MemberAdded {
  0% {
    color: none; }
  20% {
    color: #F15A23; }
  80% {
    color: #F15A23; }
  100% {
    color: none; } }

@-o-keyframes MemberAdded {
  0% {
    color: none; }
  20% {
    color: #F15A23; }
  80% {
    color: #F15A23; }
  100% {
    color: none; } }

@keyframes MemberAdded {
  0% {
    color: none; }
  20% {
    color: #F15A23; }
  80% {
    color: #F15A23; }
  100% {
    color: none; } }

.CenterContent {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  width: 100%;
  height: 100%; }

.FullSize {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }

.VerticalFlex {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column; }

.FlexFill {
  -ms-flex: 1 1 auto;
  -webkit-flex: 1 1 auto;
  flex: 1 1 auto;
  overflow: hidden; }

.FlexShrink {
  -ms-flex: 0 1 auto;
  -webkit-flex: 0 1 auto;
  flex: 0 1 auto;
  overflow: hidden; }

.HiddenOverflow {
  overflow: hidden; }

.VerticalScroll {
  overflow-y: auto; }

.Inline {
  display: inline-block; }

.Rotate {
  -moz-animation: Roll 3s infinite;
  -o-animation: Roll 3s infinite;
  -webkit-animation: Roll 3s infinite;
  animation: Roll 3s infinite; }

@-moz-keyframes Roll {
  from {
    -moz-transform: rotate(0); }
  to {
    -moz-transform: rotate(360deg); } }

@-webkit-keyframes Roll {
  from {
    -webkit-transform: rotate(0); }
  to {
    -webkit-transform: rotate(360deg); } }

@keyframes Roll {
  from {
    transform: rotate(0); }
  to {
    transform: rotate(360deg); } }

.TermsPage {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin-top: 30px;
  overflow: hidden;
  overflow-y: auto; }

.TermsDialog {
  max-height: 400px;
  overflow: hidden;
  overflow-y: auto; }

.TermsPage h5, .TermsDialog h5 {
  font-weight: 600; }

.TermsPage .Revised, .TermsDialog .Revised {
  float: right; }

.CenterContent {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  width: 100%;
  height: 100%; }

.FullSize {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }

.VerticalFlex {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column; }

.FlexFill {
  -ms-flex: 1 1 auto;
  -webkit-flex: 1 1 auto;
  flex: 1 1 auto;
  overflow: hidden; }

.FlexShrink {
  -ms-flex: 0 1 auto;
  -webkit-flex: 0 1 auto;
  flex: 0 1 auto;
  overflow: hidden; }

.HiddenOverflow {
  overflow: hidden; }

.VerticalScroll {
  overflow-y: auto; }

.Inline {
  display: inline-block; }

.Rotate {
  -moz-animation: Roll 3s infinite;
  -o-animation: Roll 3s infinite;
  -webkit-animation: Roll 3s infinite;
  animation: Roll 3s infinite; }

@-moz-keyframes Roll {
  from {
    -moz-transform: rotate(0); }
  to {
    -moz-transform: rotate(360deg); } }

@-webkit-keyframes Roll {
  from {
    -webkit-transform: rotate(0); }
  to {
    -webkit-transform: rotate(360deg); } }

@keyframes Roll {
  from {
    transform: rotate(0); }
  to {
    transform: rotate(360deg); } }

.AnalysePage .Overview {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  margin: 10px; }
  .AnalysePage .Overview .Load {
    -ms-flex: 0 0 auto;
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto; }
    .AnalysePage .Overview .Load table td {
      padding: 5px; }
  .AnalysePage .Overview .Years {
    -ms-flex: 1 1 auto;
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;
    margin-top: 5px;
    margin-left: 50px; }
    .AnalysePage .Overview .Years .YearsContainer {
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      flex-wrap: wrap;
      align-content: flex-start; }
      .AnalysePage .Overview .Years .YearsContainer div {
        width: 70px;
        margin-bottom: 5px; }

.AnalysePage .AssetTable td {
  padding: 5px; }

.CenterContent {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  width: 100%;
  height: 100%; }

.FullSize {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }

.VerticalFlex {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column; }

.FlexFill {
  -ms-flex: 1 1 auto;
  -webkit-flex: 1 1 auto;
  flex: 1 1 auto;
  overflow: hidden; }

.FlexShrink {
  -ms-flex: 0 1 auto;
  -webkit-flex: 0 1 auto;
  flex: 0 1 auto;
  overflow: hidden; }

.HiddenOverflow {
  overflow: hidden; }

.VerticalScroll {
  overflow-y: auto; }

.Inline {
  display: inline-block; }

.Rotate {
  -moz-animation: Roll 3s infinite;
  -o-animation: Roll 3s infinite;
  -webkit-animation: Roll 3s infinite;
  animation: Roll 3s infinite; }

@-moz-keyframes Roll {
  from {
    -moz-transform: rotate(0); }
  to {
    -moz-transform: rotate(360deg); } }

@-webkit-keyframes Roll {
  from {
    -webkit-transform: rotate(0); }
  to {
    -webkit-transform: rotate(360deg); } }

@keyframes Roll {
  from {
    transform: rotate(0); }
  to {
    transform: rotate(360deg); } }

.FullLengthDialog .FullLengthPlayer {
  margin-bottom: 20px; }
  .FullLengthDialog .FullLengthPlayer:last-child {
    margin-bottom: 0; }
  .FullLengthDialog .FullLengthPlayer audio {
    width: 100%; }
  .FullLengthDialog .FullLengthPlayer table {
    margin-left: 10px;
    margin-top: 10px; }
    .FullLengthDialog .FullLengthPlayer table tr td:first-child {
      padding-right: 20px; }
    .FullLengthDialog .FullLengthPlayer table tr td.Number {
      text-align: right; }
    .FullLengthDialog .FullLengthPlayer table tr td.GotoButton {
      cursor: pointer;
      color: #0066B1; }
      .FullLengthDialog .FullLengthPlayer table tr td.GotoButton:hover {
        color: #F15A23; }
  .FullLengthDialog .FullLengthPlayer .ReportOffset {
    display: inline-block;
    margin: 10px;
    padding: 5px 10px;
    background-color: lightgrey;
    color: #333;
    border: 1px solid #DBDCDD;
    border-radius: 3px;
    text-decoration: none; }
    .FullLengthDialog .FullLengthPlayer .ReportOffset:hover {
      background-color: darkgrey;
      color: white; }

.ToolsPage form label {
  width: 120px; }

.ToolsPage form input {
  width: 90px; }

html, body, .Shell {
  height: 100%;
  width: 100%;
  overflow: hidden; }

a {
  color: #0066B1; }

a:focus, button:focus, button:active, input {
  outline: none !important; }

.navbar-brand {
  padding-top: 5px;
  padding-bottom: 0; }

.navbar {
  margin-bottom: 0; }

.caret.caret-reversed {
  border-top: none;
  border-bottom: 4px solid #000000; }

.modal .modal-dialog.IsWide {
  width: 800px; }

.btn .btn-danger {
  background-color: #F15A23; }

.btn .btn-primary, .pagination > .active > a, .pagination > .active, .list-group-item.active {
  background-color: #0066B1; }

.pagination > li > a {
  color: #0066B1; }

.alert.alert-danger {
  background-color: #FFDF9B; }

.Shell {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  align-items: stretch; }
  .Shell > .TopBarContainer {
    -ms-flex: 0 0 auto;
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto; }
    .Shell > .TopBarContainer .TopBarInner {
      max-width: 1550px; }
      .Shell > .TopBarContainer .TopBarInner .ProfileMenu li .dropdown-toggle img {
        vertical-align: baseline;
        height: 1em; }
      .Shell > .TopBarContainer .TopBarInner .ProfileMenu li .dropdown-toggle span {
        font-size: 1.1em; }
    .Shell > .TopBarContainer .navbar {
      border-bottom: 1px darkgray solid;
      border-radius: 0;
      background: linear-gradient(#f8f8f8, #e9e9e9); }
  .Shell > .ContentContainer {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-align-items: stretch;
    -webkit-align-items: stretch;
    align-items: stretch;
    -ms-align-self: center;
    -webkit-align-self: center;
    align-self: center;
    -ms-flex: 1 1 auto;
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;
    width: 100%;
    max-width: 1550px;
    overflow: hidden;
    position: relative; }
    .Shell > .ContentContainer > .PageContainer {
      -ms-flex: 1 1 auto;
      -webkit-flex: 1 1 auto;
      flex: 1 1 auto;
      overflow: hidden;
      position: relative;
      margin-right: 25px; }
      @media (max-width: 767px) {
        .Shell > .ContentContainer > .PageContainer {
          margin-left: 10px;
          margin-right: 10px; } }
      @media (min-width: 768px) and (max-width: 991px) {
        .Shell > .ContentContainer > .PageContainer {
          margin-left: 15px;
          margin-right: 15px; } }
      .Shell > .ContentContainer > .PageContainer h3 {
        margin-top: 10px; }
  .Shell > .CookieDialog {
    position: fixed;
    width: 310px;
    right: 0;
    bottom: 0;
    padding: 0 10px 10px;
    background-color: #F0F1F2;
    border: 2px solid #E7E6E8;
    border-bottom: none;
    border-right: none;
    border-top-left-radius: 5px; }
