﻿<!-- ko component: {name: 'Menu/Group', params: {Name:'Tidsperiode', CssClasses: 'TimeRange', IsCollapsed: IsCollapsed}}-->
<form data-bind="submit: Search">
	<div class="input-group date input-group-sm" data-bind="dateTimePicker: From, dateTimePickerOptions: {format: 'DD/MM/YYYY HH:mm', locale: 'da-DK', showClear: false, useCurrent: false}">
		<input type="text" class="form-control" placeholder="Fra" />
		<span class="input-group-addon">
			<span class="glyphicon glyphicon-calendar"></span>
		</span>
	</div>
	<div class="input-group date input-group-sm" data-bind="dateTimePicker: To, dateTimePickerOptions: {format: 'DD/MM/YYYY HH:mm', locale: 'da-DK', showClear: false, useCurrent: false}">
		<input type="text" class="form-control" placeholder="Til"/>
		<span class="input-group-addon">
			<span class="glyphicon glyphicon-calendar"></span>
		</span>
	</div>
	<div class="input-group-sm">
		<div class="btn-group btn-group-sm">
			<button class="btn btn-default" type="button" data-bind="click: ShowDrillDown, Tooltip: {title: 'Vælg en tidsperiode', placement: 'top'}">
				<span class="glyphicon glyphicon-time"></span>
				Indstil tid
			</button>
		</div>
	</div>
</form>
<!-- /ko-->