﻿<h2>Cookies og web storage</h2>
<p>
	LARM.fm bruger følgende cookies og web storage for at muliggøre og forbedre din oplevelse. LARM.fm anvender analyseværktøjet Google Analytics til at udføre statistik for brugen af websitet www.larm.fm. Google Analytics benytter en cookie (en tekstfil som gemmes på din computer, mobiltelefon el. tilsvarende) med det formål at genkende den og udføre statistik. LARM.fm deler ikke persondata med Google Analytics, og desuden anvendes IP-anonymisering i Google Analytics, så brugerens IP-adresse ikke bliver registreret. Når du kommer ind på www.larm.fm kan du vælge, om du vil give samtykke til brugen af Google Analytics. Du kan sagtens benytte platformen uden at give samtykke til brugen af Google Analytics.
</p>
<p>
	LARM.fm anvender såkaldt ”web storage” eller ”local storage” for at muliggøre og forbedre din oplevelse af platformens funktionaliteter. Ved brug af web storage gemmes nogle data lokalt i din browser, som bruges til at holde styr på dit login, så du f.eks. kan åbne flere browser vinduer uden at skulle logge ind flere gange, samt så din session genoprettes efter inaktivitet, ligesom de bruges til at huske, at du har lukket påmindelsen om brug af cookies og web storage. Data gemt i web storage kan slettes i browseren eller ved at bruge udviklerværktøjerne. Hvis du vælger at slette dem, skal du være opmærksom på, at du skal logge ind på LARM.fm på ny, når du har været inaktiv i 20 minutter.
</p>
<table class="table">
	<thead>
		<tr>
			<th>Storage nøgle</th>
			<th>Brug af værdi</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>"_ga"</td>
			<td>Cookie, anonym brugsstatistik via Google Analytics.</td>
		</tr>
		<tr>
			<td>"_gat"</td>
			<td>Cookie, anonym brugsstatistik via Google Analytics.</td>
		</tr>
		<tr>
			<td>"PortalSession"</td>
			<td>Web storage, bruges til at holde styr på dit login, så du f.eks. kan åbne flere browser vinduer uden at skulle logge ind flere gange.</td>
		</tr>
		<tr>
			<td>"SecureCookieGuid"</td>
			<td>Web storage, bruges til at genoprette din session hvis du har været inaktiv i en længere periode.</td>
		</tr>
		<tr>
			<td>"SecureCookiePasswordGuid"</td>
			<td>Web storage, bruges til at genoprette din session hvis du har været inaktiv i en længere periode.</td>
		</tr>
		<tr>
			<td>"Cookies"</td>
			<td>Web storage, bruges til at huske at du har lukket påmindelsen om brug af cookies og web storage.</td>
		</tr>
		<tr>
			<td>"UsageAccepted"</td>
			<td>Web storage, bruges til at huske at du har lukket påmindelsen om brug af medier på LARM.fm.</td>
		</tr>
	</tbody>
</table>