﻿<span data-bind="text: Value, visible: !IsEditing()"></span>
<div class="ClosedList" data-bind="visible: IsEditing">
	<input type="text" class="form-control typeahead" data-bind="Element: Input"/>
</div>
<div class="EditControls hidden-xs" data-bind="visible: CanEdit">
	<button type="button" class="btn btn-default btn-xs" data-bind="visible: !IsEditing(), click: Edit, Tooltip: {title: 'Redigér dette felt', placement: 'top'}"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></button>
	<div class="btn-group" role="group" aria-label="Edit Tools" data-bind="visible: IsEditing">
		<button type="button" class="btn btn-success" data-bind="click: Save, enable: HasValidValue"><span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span> Gem</button>
		<button type="button" class="btn btn-danger" data-bind="click: Cancel"><span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span> Annuller</button>
	</div>
</div>