﻿<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	<h4 class="modal-title" id="gridSystemModalLabel">Netværksbegrænsninger</h4>
</div>
<div class="modal-body Contact">
	<div data-bind="visible: HasError">
		<p>
			Det ser ud til at netværket denne computer er forbundet til har begrænsninger, der kan påvirke din brug af LARM.fm.
		</p>
		<p>
			Nogle netværksporte ser ud til at være blokeret. Hvis du oplever problemer med at afspille lyd eller video; kontakt da vores support med oplysninger om din lokation (f.eks. hvilket institut du sidder på nu) og følgende port<span data-bind="visible: Ports().length > 1">e</span>:
		</p>
		<p data-bind="foreach: Ports">
			<strong data-bind="text: $data"></strong>
		</p>
	</div>
	<div data-bind="visible: !HasError()">
		<p>Ingen problemer fundet.</p>
	</div>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-default" data-bind="click: Run, enable: CanRun">Kør test igen</button>
	<button type="button" class="btn btn-default" data-dismiss="modal">Luk</button>
</div>