﻿<div class="modal-header">
	<h4 class="modal-title" id="gridSystemModalLabel">Information om brug af LARM.FM</h4>
</div>
<div class="modal-body">
	<p>
		Udsendelserne og de andre materialer på LARM.fm kan pga. copyright kun tilgås af forskere og studerende ved institutioner med abonnementsaftale, og de må kun bruges til forskning, studier og undervisning.
	</p>
</div>
<div class="modal-footer">
	<button type="button" class="btn" data-dismiss="modal" data-bind="click: ViewTerms">Ok, læs betingelser</button>
	<button type="button" class="btn btn-primary" data-dismiss="modal" data-bind="click: Ok">Ok, jeg har forstået</button>
</div>