﻿<div class="TermsPage">
	<h3>Betingelser for brug af LARM.FM</h3>
	<p>
		Platformen LARM.fm er udviklet og drives af <a href="https://dighumlab.org/" target="_blank">DIGHUMLAB</a>. DIGHUMLAB er et nationalt
		forskningsfælleskab, der på tværs af institutioner og fagområder, udvikler, understøtter og koordinerer
		digitale forskningsaktiviteter inden for det humanistiske område, herunder nationale og forskerdrevne
		infrastrukturer. Bag DIGHUMLAB står de humanistiske fakulteter på AU, AAU, SDU og KU samt Det
		Kgl. Bibliotek.
	</p>
	<p>
		Indholdet på LARM.fm er Det Kgl. Biblioteks digitale samlinger af radio og tv samt supplerende
		materiale. Materialet er dækket af ophavsret, og det er dit ansvar at overholde den til enhver tid
		gældende lovgivning, herunder også lov om ophavsret og de aftaler, der er indgået med
		rettighedshaverne. Det indebærer blandt andet, at du skal overholde de nedenstående betingelser for
		brug af LARM.fm.
	</p>
	<h4>Vedrørende brug af radio og tv</h4>
	<p>
		Det Kgl. Bibliotek har indgået en aftale med Copydan-AVU-medier om, at uddannelsesinstitutioner, der
		tilbyder lange videregående uddannelser, kan få online adgang til radio og tv på LARM.fm til brug for
		studier, undervisning og forskning, hvis der er indgået en abonnementsaftale med den relevante
		uddannelsesinstitution. Der er pt. indgået aftale med følgende institutioner:
	</p>
	<ul>
		<li>Copenhagen Business School</li>
		<li>Danmarks Medie- og Journalisthøjskole</li>
		<li>Københavns Universitet</li>
		<li>Roskilde Universitet</li>
		<li>Syddansk Universitet</li>
		<li>Aalborg Universitet</li>
		<li>Aarhus Universitet</li>
	</ul>
	<p>
		Brug af materialet i LARM.fm må kun ske i forbindelse med forskning, studie- og undervisningsbrug, og
		det må ikke anvendes til andre formål. På de uddannelsesinstitutioner, som er nævnt, er der ret til at
		vise materialet i undervisningsøjemed til studerende på institutionen.
	</p>
	<p>
		Adgangen til radio og tv sker ved streaming. Det er ikke tilladt at downloade, videresende eller ændre
		materialet på portalen. Det er heller ikke tilladt at benytte materialet kommercielt. Offentlig fremvisning
		er ikke tilladt.
	</p>
	<h4>
		Vedrørende programoversigter, radioavismanuskripter, radioavisrapporter og radiooversigter
	</h4>
	<p>
		Ud over adgang til at lytte til radioudsendelser giver platformen også adgang til at se
		programoversigter, samt radioavismanuskripter, radioavisrapporter og radiooversigter. Dette materiale
		er også omfattet af ophavsrettigheder. Det betyder, at der er adgang til at se materialet, når du er
		logget ind på LARM.fm-portalen og mulighed for at downloade, men kun til helt privat forsknings- og
		studiebrug, og materialet må ikke videresendes eller på anden måde deles. Materialet må kun
		anvendes inden for rammerne af ophavsretsloven.
	</p>
	<h4>
		Vedrørende brugergenerede metadata, herunder annotationer
	</h4>
	<p>
		Hvis du benytter dig af muligheden for at tilføje LARM metadata og/eller annotationer til materialer på
		LARM.fm, skal du være opmærksom på, at dine bidrag altid sker efter betingelserne for Creative
		Commons med licensen CC0, og at dine bidrag vil være synlige og søgbare for andre brugere af
		platformen. Hvis du foretager login og bruger portalen, så accepterer du samtidig denne betingelse.
	</p>
	<h4>Generelt omkring adgang</h4>
	<p>
		Adgang til LARM.fm sker gennem login via WAYF (<a href="https://wayf.dk/" target="_blank">Where Are You From</a>, Danmarks
		identitetsføderation for forskning og uddannelse), og adgangen er personlig. Det er ikke tilladt at give
		login videre. I forbindelse med denne accept giver du samtidig samtykke til, at DIGHUMLAB kan
		foretage registrering af brugen af statistiske grunde og af hensyn til at kunne følge op på eventuelt
		misbrug.
	</p>
	<p>
		Vi forbeholder os ret til at lukke for adgangen til LARM.fm ved misbrug. Det er vigtigt at være
		opmærksom på, at misbrug vil blive forfulgt og anmeldt, og der kan gøres et personligt ansvar
		gældende. Der tages forbehold for, at betingelserne for brug bliver løbende revideret, og du skal holde
		dig orienteret om status og overholde gældende regler, som de fremgår af denne hjemmeside.
	</p>
	<h4>Persondatapolitik</h4>
	<p>
		Denne persondatapolitik beskriver, hvordan LARM.fm behandler og opbevarer personoplysninger.
	</p>
	<h5>Hvilke oplysninger benytter og opbevarer vi, og hvorfor?</h5>
	<p>
		LARM.fm får oplysninger om dig i forbindelse med din brug af platformen samt ved en eventuel
		henvendelse til LARM.fm&#39;s helpdesk. Ved brug af platformen indsamles kun oplysninger, som er
		nødvendige for LARM.fm’s kernefunktionaliteter, eller som vi er forpligtede til af hensyn til at kunne
		logge brugen samt følge op på eventuelt misbrug af platformen og de ophavsretbeskyttede materialer,
		som er tilgængelige her.
	</p>
	<p>
		LARM.fm tilgås via WAYF, så når en bruger ønsker at logge på, sender brugerens institution
		information om brugeren (brugeren attributter) til WAYF, som så viser brugeren, hvilke få, relevante
		oplysninger, som vil blive videresendt til LARM.fm. Hvis brugeren giver sit samtykke hertil, deles disse
		data med LARM.fm, som så kan godkende brugeren (hvis attributterne viser, at brugeren kommer fra
		en uddannelsesinstitution med abonnementsaftale), hvorefter brugeren får adgang. LARM.fm vil
		således være i besiddelse af de oplysninger, som deles i kraft af WAYF-login’et, nemlig din tilknytning
		til institutionen (ansat eller studerende), dit bruger-ID på din institution, dine gruppemedlemskaber på
		institutionen, dit tjenestespecifikke pseudonym (omtales også som WAYF-ID) samt din institutions
		domænenavn. Disse attributter er nødvendige for LARM.fm at have for at kunne sikre, at der kun gives
		adgang til de brugere, der har de rette attributter, samt for at kunne lave den nødvendige afrapportering
		af brugen af kulturarvsmaterialer.
	</p>
	<p>
		Flere af funktionaliteterne i LARM.fm er baseret på brugerstyring, f.eks. at du kan dele en mappe med
		andre brugere, samt at du kan filtrere på dine egne eller andres annotationer, og brug af LARM.fm
		kræver derfor et profilnavn. Hvis du vælger at benytte dit eget navn som profilnavn, vil LARM.fm være i
		besiddelse af det, men du kan lige så vel vælge at benytte et vilkårligt pseudonym. LARM.fm bruger
		udelukkende dit profilnavn i forbindelse med de funktionaliteter, der kræver, at man kan knytte en
		bestemt bruger til bestemt indhold. LARM.fm giver også brugerne mulighed for at registrere en e-
		mailadresse under profiloplysninger. E-mail-adresser vil kun blive brugt til at informere om væsentlige
		ændringer relevante for brugen af LARM.fm. Du kan til enhver tid vælge at slette din e-mail under
		profiloplysninger.
	</p>
	<p>
		LARM.fm indsamler ingen særlige kategorier af personoplysninger (såkaldt følsomme persondata). Ved
		brug af LARM.fm’s helpdesk vil LARM.fm være i besiddelse af de oplysninger, du vælger at dele med
		helpdesken, herunder dit navn og din e-mailadresse (eller din Facebook-profil, hvis du kontakter
		LARM.fm på Facebook). Disse oplysninger benyttes alene i forbindelse med den efterspurgte support.
	</p>
	<h5>Cookies og web storage</h5>
	<p>
		LARM.fm anvender analyseværktøjet Google Analytics til at udføre statistik for brugen af websitet
		www.larm.fm. Google Analytics benytter en cookie (en tekstfil som gemmes på din computer,
		mobiltelefon el. tilsvarende) med det formål at genkende den og udføre statistik. LARM.fm deler ikke
		persondata med Google Analytics, og desuden anvendes IP-anonymisering i Google Analytics, så
		brugerens IP-adresse ikke bliver registreret. Når du kommer ind på www.larm.fm kan du vælge, om du
		vil give samtykke til brugen af Google Analytics. Du kan sagtens benytte platformen uden at give
		samtykke til brugen af Google Analytics.
	</p>
	<p>
		LARM.fm anvender såkaldt ”web storage” eller ”local storage” for at muliggøre og forbedre din
		oplevelse af platformens funktionaliteter. Ved brug af web storage gemmes nogle data lokalt i din
		browser, som bruges til at holde styr på dit login, så du f.eks. kan åbne flere browser vinduer uden at
		skulle logge ind flere gange, samt så din session genoprettes efter inaktivitet, ligesom de bruges til at
		huske, at du har lukket påmindelsen om brug af cookies og web storage. Data gemt i web storage kan
		slettes i browseren eller ved at bruge udviklerværktøjerne. Hvis du vælger at slette dem, skal du være
		opmærksom på, at du skal logge ind på LARM.fm på ny, når du har været inaktiv i 20 minutter.
	</p>
	<h5>Databehandling</h5>
	<p>
		LARM.fm udveksler data med WAYF i forbindelse med login og med Det Kgl. Bibliotek i forbindelse
		med login og afrapportering af brugen af platformen af statistiske grunde og af hensyn til at kunne følge
		op på eventuelt misbrug. LARM.fm benytter Amazon Web Service (datacenter i Irland) til hosting af
		data og Zendesk til vores support funktion, og begge virksomheders services efterlever GDPR (General
		Data Protection Regulation). Google Analytics behandler brugsmønstre på LARM.fm, men ikke
		persondata.
	</p>
	<h5>Opbevaringsperiode og rettigheder</h5>
	<p>
		LARM.fm opbevarer data om dig og din brug af platformen, så længe du benytter platformen og maks.
		5 år efter seneste brug, med mindre du beder om at blive slettet som bruger. Du kan til enhver tid
		kontakte LARM.fm for at få indsigt i, rettet eller slettet eventuelle oplysninger, vi har om dig. Dog kan
		der opstå tilfælde, hvor LARM.fm er nødt til at opbevare dine oplysninger i længere tid, hvis der er
		mistanke eller en igangværende sag om misbrug af LARM.fm og de ophavsretbeskyttede materialer på
		platformen. I så fald vil oplysningerne blive opbevaret indtil sagens afslutning.
	</p>
	<h4>Kontakt</h4>
	<p>
		Hvis du har spørgsmål til betingelserne for brugen af LARM.fm eller vores behandling af dine
		oplysninger, kan du kontakte Janne Nielsen (janne@cc.au.dk).
	</p>
	<p class="Revised">
		Revideret 24. maj 2018
	</p>
</div>
