﻿<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	<h4 class="modal-title" id="gridSystemModalLabel">Fuld længde afspilning</h4>
</div>
<div class="modal-body FullLengthDialog">
	<!-- ko foreach: State.Offsets -->
		<!-- ko component: {name: "Pages/Asset/FullLengthDialog/FullLengthPlayer", params: $data} -->
		<!-- /ko -->
	<!-- /ko -->
	<p>
		Når du trykker på knappen "Rapporter forkert afgrænsning", så åbnes en skabelon i dit emailprogram.
		Ret venligst tidskoderne i skabelonen til de værdier, du mener, det skal være.
	</p>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-default" data-dismiss="modal">Luk</button>
</div>