﻿<!-- ko ifnot: IsDeleted -->
<!-- ko component: {name: 'Menu/Group', params: {Name: Name, HasCustomHeader: true, IsCollapsed: IsCollapsed, IsDefaultHeaderVisible: IsDefaultHeaderVisible, DragEnterHandle: DragEnterHandle, DragStartHandle: DragStartHandle, DragOverHandle: DragOverHandle, DragDropHandle: DragDropHandle}} --><div>
	<button class="ActionButton" data-bind="click: Edit, clickBubble: false, visible: CanEdit, Tooltip: {title: 'Invitér andre brugere til dette projekt, omdøb eller slet det', placement: 'top'}">
		<span class="glyphicon glyphicon-cog"></span>
	</button>
	<button class="ActionButton" data-bind="click: CreateLabel, clickBubble: false, visible: CanEdit, Tooltip: {title: 'Tilføj en ny mappe til dette projekt, hvorunder indhold kan organiseres', placement: 'top'}">
		<span class="glyphicon glyphicon-plus"></span>
	</button>
	<form data-bind="if: IsEditing, submit: Save">
		<div class="form-group form-group-sm">
			<input class="form-control" type="text" data-bind="value: Name, hasFocus: HasFocus" placeholder="Mit projekt" />
		</div>
	</form>
</div>
<div data-bind="foreach: Labels">
	<!-- ko component: {name: 'Menu/Projects/Project/LabelFolder', params: { Data: $data }}-->
	<!-- /ko -->
</div>
<!-- /ko -->
<!-- /ko -->