﻿<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	<h4 class="modal-title" id="gridSystemModalLabel">Indstil tid</h4>
</div>
<div class="modal-body DateDrillDown">
	<p data-bind="foreach: Breadcrumbs" class="Breacrumbs">
		<button type="button" class="btn btn-default btn-sm" data-bind="click: Change, css: {CantChange: !CanChange}">
			<!-- ko if: $index() == 3 -->
			<span data-bind="text: ['Januar', 'Februar', 'Marts', 'April', 'Maj', 'Juni', 'Juli', 'August', 'September', 'Oktober', 'November', 'December'][Value]"></span>
			<!-- /ko -->
			<!-- ko ifnot: $index() == 3 -->
			<span data-bind="text: Value"></span><span data-bind="visible: $index() == 1">'erne</span>
			<!-- /ko -->
		</button>
	</p>
	<div class="Options">
		<div data-bind="if: OptionsType() == 'Decade'">
			<div data-bind="foreach: Options">
				<button class="btn btn-default" data-bind="click: Select">
					<span data-bind="text: Value"></span>'erne <span class="badge" data-bind="text: Count"></span>
				</button>
			</div>
		</div>
		<div data-bind="if: OptionsType() == 'Year'">
			<div data-bind="foreach: Options">
				<button class="btn btn-default" data-bind="click: Select">
					<span data-bind="text: Value"></span> <span class="badge" data-bind="text: Count"></span>
				</button>
			</div>
		</div>
		<div data-bind="if: OptionsType() == 'Month'">
			<div data-bind="foreach: Options">
				<button class="btn btn-default" data-bind="click: Select">
					<span data-bind="text: ['Januar', 'Februar', 'Marts', 'April', 'Maj', 'Juni', 'Juli', 'August', 'September', 'Oktober', 'November', 'December'][Value]"></span> <span class="badge" data-bind="text: Count"></span>
				</button>
			</div>
		</div>
		<div data-bind="if: OptionsType() == 'Day'">
			<div data-bind="foreach: Options">
				<button class="btn btn-default" data-bind="click: Select">
					<span data-bind="text: Value"></span>. <span class="badge" data-bind="text: Count"></span>
				</button>
			</div>
		</div>
	</div>
	<p>
		Antal resultater er for en
		<span data-bind="visible: IsSearchEmpty">tom søgning</span><span data-bind="visible: !IsSearchEmpty()">søgning på <button class="LinkButton" data-bind="click: ClearQuery, text: SearchString, Tooltip: {title: 'Fjern tekstafgrænsning', placement: 'bottom'}"></button></span><span data-bind="visible: HasFacet"> afgrænset til <button class="LinkButton" data-bind="click: ClearFacet, text: FacetName, Tooltip: {title: 'Fjern facetafgrænsning', placement: 'bottom'}"></button></span>.
	</p>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-primary" data-bind="click: Search">Søg</button>
	<button type="button" class="btn btn-default" data-dismiss="modal">Annuller</button>
</div>