﻿<div class="PDF" data-bind="css: {Big: IsBig}">
	<iframe class="hidden-xs" data-bind="attr: {src: Link}"></iframe>
	<div class="Menu hidden-xs">
		<div class="btn-group-vertical" role="group">
			<a class="btn btn-default" target="_blank" data-bind="attr: {href: Link}">Fuld visning i ny fane</a>
			<button class="btn btn-default" data-bind="click: ToggleBig">
				<span data-bind="visible: !IsBig()">Stor visning</span>
				<span data-bind="visible: IsBig">Lille visning</span>
			</button>
		</div>
		<div class="panel panel-default PageList" data-bind="visible: HasMultiplePages">
			<div class="panel-heading">
				Sider
			</div>
			<div class="list-group" data-bind="foreach: Pages">
				<button type="button" href="#" class="list-group-item" data-bind="text: Name, click: Select, css: {active: $data == $parent.ActivePage()}"></button>
			</div>
		</div>
	</div>
	<div class="panel panel-default visible-xs FileList">
		<div class="panel-heading">
			Sider
		</div>
		<div class="panel-body" data-bind="foreach: Pages">
			<a class="btn btn-default" target="_blank" data-bind="attr: {href: File.Destinations[0].Url}">
				<span data-bind="text: Name"></span>
			</a>
		</div>
	</div>
</div>