﻿<!-- ko component: {name: 'Menu/Group', params: {Name:'Projekter', CssClasses: 'Projects', HasCustomHeader: true, IsCollapsed: IsCollapsed, DragEnterHandle: DragEnterHandle}} --><div>
	<button class="ActionButton" data-bind="click: Create, visible: CanCreate, clickBubble: false, Tooltip: {title: 'Opret et ny projekt, hvor du kan organisere indhold med mapper samt sammenarbejde med andre brugere', placement: 'top'}">
		<span class="glyphicon glyphicon-plus"></span>
	</button>
</div>
<!-- ko foreach: Projects -->
<!-- ko component: {name: 'Menu/Projects/Project', params: {Project:$data, Created: $parent.CreatedCallback}}-->
<!-- /ko-->
<!-- /ko -->
<!-- /ko -->