﻿<!-- ko if: HasDialog -->
<div class="modal fade" role="dialog" aria-labelledby="gridSystemModalLabel">
	<div class="modal-dialog" role="document" data-bind="css: {IsWide: IsWide}">
		<div class="modal-content" data-bind="component: {name: State().Name, params: State()}">

		</div>
	</div>
</div>
<!-- /ko -->