﻿<span data-bind="text: PrettyValue, visible: !IsEditing()"></span>
<div data-bind="visible: IsEditing">
	<div class="input-group input-group-sm" data-bind="dateTimePicker: DateValue, dateTimePickerOptions: {format: 'DD/MM/YYYY HH:mm', locale: 'da-DK', showClear: false, useCurrent: false, widgetPositioning: {horizontal: 'left', vertical: 'bottom'}}">
		<input type="text" class="form-control"/>
		<span class="input-group-addon">
			<span class="glyphicon glyphicon-calendar"></span>
		</span>
	</div>
</div>
<div class="EditControls hidden-xs" data-bind="visible: CanEdit">
	<button type="button" class="btn btn-default btn-xs" data-bind="visible: !IsEditing(), click: Edit, Tooltip: {title: 'Redigér dette felt', placement: 'top'}"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></button>
	<div class="btn-group" role="group" aria-label="Edit Tools" data-bind="visible: IsEditing">
		<button type="button" class="btn btn-success" data-bind="click: Save"><span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span> Gem</button>
		<button type="button" class="btn btn-danger" data-bind="click: Cancel"><span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span> Annuller</button>
	</div>
</div>