﻿<!-- ko foreach: Notifications -->
<div class="alert alert-dismissable" data-bind="css : {'alert-warning': Level == 'Warning', 'alert-danger': Level == 'Error'}">
	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
	<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true" data-bind="visible: Level == 'Error'"></span>
	<span class="glyphicon glyphicon-warning-sign" aria-hidden="true" data-bind="visible: Level == 'Warning'"></span>
	<span data-bind="text: Message"></span>
</div>
<!-- /ko -->
<div class="TopBarContainer" data-bind="component: {name: 'TopBar'}"></div>
<div class="ContentContainer">
	<!-- ko component: 'Menu' --><!-- /ko -->
	<div class="PageContainer" data-bind="component: {name: 'Pages/' + Page().Name, params: Page().Data}"></div>
</div>
<div class="CookieDialog" data-bind="visible: IsCookieDialogVisible">
	<h3>Brug af cookies</h3>
	<p>LARM.fm bruger cookies og web storage for at forbedre din oplevelse, samt til anonym brugsstatistik.</p>
	<p>Accepterer du brugen af cookies til indsamling af anonym brugsstatistik?</p>
	<p><a href="/CookiePolicy">Klik her for flere detaljer</a></p>
	<button type="button" class="btn btn-default" data-bind="click: CloseAndAcceptCookieDialog">Ja, luk</button>
	<button type="button" class="btn btn-default" data-bind="click: CloseCookieDialog">Nej, luk</button>
</div>