﻿<h3>Login</h3>
<form data-bind="submit: Login">
	<input type="text" placeholder="Email" data-bind="value: Email, enable: CanLogin"/>
	<input type="password" placeholder="Password" data-bind="value: Password, enable: CanLogin"/>
	<label><input type="checkbox" data-bind="checked: RememberLogin, enable: CanLogin" /> Remember me</label>
	<button type="submit" data-bind="enable: CanLogin">Login</button>
	<p class="text-danger" data-bind="visible: IsLoginIncorrect">Incorrect email or password</p>
</form>