﻿<div class="TableData">
	<div class="OverlayHeader" data-bind="visible: ShowOverlayHeader, foreach: HeaderColumns"><div data-bind="text: $parent.Columns[$index()], style: {width: $data + 'px'}"></div></div>
	<table class="table" data-bind="visible: HasItems, Element: TableElement">
		<thead>
			<tr data-bind="foreach: Columns">
				<th data-bind="text: $data"></th>
			</tr>
		</thead>
		<!-- ko ifnot: IsEditing -->
			<tbody data-bind="foreach: CollapseData">
				<tr data-bind="foreach: Data">
					<td>
						<!-- ko if: IsCollapsed -->
							<span class="Collapsed" data-bind="text: Data, click: Toggle, style: {width: CollapsedWidth + 'px'}"></span>
						<!-- /ko -->
						<!-- ko ifnot: IsCollapsed -->
							<span data-bind="text: Data"></span>
						<!-- /ko -->
					</td>
				</tr>
				<!-- ko if: CanCollapse && !IsCollapsed() -->
					<tr class="Expanded">
						<td data-bind="attr: {colspan: $parent.Columns.length}">
							<div data-bind="foreach: CollapsedData">
								<div data-bind="text: $data"></div>
							</div>
						</td>
					</tr>
				<!-- /ko -->
			</tbody>
		<!-- /ko -->
		<!-- ko if: IsEditing -->
			<tbody data-bind="foreach: CollapseData">
				<tr data-bind="foreach: Data">
					<td>
						<input type="text" data-bind="value: Data" />
					</td>
				</tr>
			</tbody>
		<!-- /ko -->
	</table>
	<div class="EditControls hidden-xs" data-bind="visible: CanEdit">
		<button type="button" class="btn btn-default btn-xs" data-bind="visible: !IsEditing(), click: Edit, Tooltip: {title: 'Redigér tabel', placement: 'top'}"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></button>
		<div class="btn-group" role="group" aria-label="Edit Tools" data-bind="visible: IsEditing">
			<button type="button" class="btn btn-success" data-bind="click: Save"><span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span> Gem</button>
			<button type="button" class="btn btn-danger" data-bind="click: Cancel"><span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span> Annuller</button>
		</div>
	</div>
</div>