﻿<div class="MenuContainer" data-bind="css: {Collapsed: IsCollapsed}">
	<button class="ToggleButton" data-bind="click: ToggleMenu">
		<span class="glyphicon glyphicon-menu-left" data-bind="visible: !IsCollapsed()" aria-hidden="true"></span>
		<span class="glyphicon glyphicon-menu-right" data-bind="visible: IsCollapsed" aria-hidden="true"></span>
	</button>
	<div class="Container">
		<form class="QueryForm" data-bind="submit: Search">
			<div class="form-group">
				<input class="form-control" type="text" placeholder="Søg" data-bind="value: Query, hasFocus: QueryHasFocus" />
			</div>
			<div class="form-group">
				<button class="btn btn-default btn-xs" type="button" data-bind="click: ClearSearch">
					<span class="glyphicon glyphicon-remove-sign"></span>
					Ryd søgning
				</button>
				<button class="btn btn-primary pull-right btn-xs" type="submit">
					<span class="glyphicon glyphicon-search"></span>
					Søg
				</button>
			</div>
		</form>
		<div class="VerticalScroll">
			<!-- ko component: {name: 'Menu/Group', params: {Name:'Søgeafgrænsning', CssClasses: 'SearchFilter', IsCollapsed: SearchIsCollapsed}} -->
			<!-- ko component: {name: 'Menu/Search/TimeRange', params: $data} --><!-- /ko -->
			<!-- ko foreach: Facets-->
			<!-- ko component: {name: 'Menu/Search/Facet', params: $data} --><!-- /ko -->
			<!-- /ko -->
			<!-- /ko -->
			<!-- ko if: IsAuthenticated -->
			<!-- ko component: {name: 'Menu/Projects'} --><!-- /ko -->
			<!-- /ko -->
		</div>
	</div>
</div>