﻿<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-label="Close" data-bind="visible: !ShouldShowWelcome"><span aria-hidden="true">&times;</span></button>
	<h4 class="modal-title" id="gridSystemModalLabel">Bruger ikke godkendt</h4>
</div>
<div class="modal-body">
	<p>Din bruger er desværre ikke godkendt til LARM.FM</p>
	<p>Kontakt <a href="mailto:janne@cc.au.dk">support</a> for mere information</p>
</div>
<div class="modal-footer">
	<button type="button" data-bind="visible: !ShouldShowWelcome" class="btn btn-default" data-dismiss="modal">Luk</button>
</div>