﻿<div class="HiddenOverflow FullSize VerticalFlex SearchPage">
	<nav>
		<div class="Description" data-bind="component: {name: 'Pages/Search/SearchDescription', params: {Query: Query, TotalResultCount: TotalResultCount, Search: Search}}"></div>
		<div class="Pagination" data-bind="component: {name: 'Pages/Search/Pagination', params: {Query: Query, TotalResultCount: TotalResultCount, Search: Search}}"></div>
	</nav>
    <div class="FlexShrink VerticalScroll">
        <table class="table table-striped table-hover ResultsTable">
            <thead>
            <tr>
                <th data-bind="visible: CanDisassociateFromLabel" class="hidden-xs">
                    Fjern
                </th>
                <th data-bind="visible: CanAssociateWithLabel" class="hidden-xs hidden-sm">
                    Tilføj
                </th>
                <th>
                    Type
                </th>
                <!-- ko foreach: SearchFields -->
                <th data-bind="click: Sort, css: {Sortable: CanSort, IsSorting: IsSorting}">
                    <span data-bind="text: Title"></span>
                    <span class="caret" data-bind="visible: IsSorting, css: {'caret-reversed': IsDescending()}, Tooltip: {title: 'Vend sorterings rækkefølge', placement: 'top'}"></span>
                    <span class="SortableIcon" data-bind="visible: CanSort && !IsSorting(), Tooltip: {title: 'Sorter på denne kolonne', placement: 'top'}"></span>
                </th>
                <!-- /ko -->
            </tr>
            </thead>
            <tbody data-bind="foreach: SearchResults">
            <tr class="SearchResult" draggable="true" data-bind="event: {dragstart: StartDrag}">
                <td draggable="false" class="Remove hidden-xs" data-bind="visible: $parent.CanDisassociateFromLabel" >
                    <button draggable="false" class="btn btn-xs btn-danger" data-bind="click: Remove, Tooltip: {title: 'Fjern fra mappe', placement: 'right'}"><span class="glyphicon glyphicon-remove"></span></button>
                </td>
                <td draggable="false" class="Move hidden-xs hidden-sm" data-bind="visible: $parent.CanAssociateWithLabel">
                    <span draggable="false" class="glyphicon glyphicon-option-vertical" data-bind="Tooltip: {title: 'Træk til en mappe under et projekt i venstre-menuen', placement: 'right'}"></span>
                </td>
                <td draggable="false" class="Type">
                    <a draggable="false" data-bind="attr: {href: '/Asset/' + Identifier}, Image: {Path: '/App/Images/SearchFields/Type/' + TypeId + '.png', Fallback: TypeId}"></a>
                </td>
                <!-- ko foreach: Fields-->
                <td draggable="false">
                    <a draggable="false" data-bind="attr: {href: '/Asset/' + $parent.Identifier}, Image: {Path: ImagePath, Fallback: Value || '&nbsp;'}"></a>
                </td>
                <!-- /ko -->
            </tr>
            </tbody>
        </table>
        <!-- ko if: DraggingResult -->
        <p data-bind="Element: DragElement, css: {TopDragging: IsDraggingTopElement}" class="DragElement">
            <img data-bind="attr: {src: '/App/Images/SearchFields/Type/' + DraggingResult().TypeId + '.png'} "/>
            <span data-bind="text: DraggingResult().Fields[0].Value"></span>
        </p>
        <!-- /ko -->
    </div>
    <div class="Tools hidden-sm hidden-xs">
        <button type="button" class="btn btn-default" data-bind="visible: CanExport, click: Export">Eksporter den viste side af resultater</button>
    </div>
</div>