﻿<div class="Group" data-bind="css: CssClasses">
	<div class="Header" data-bind="click: ToggleCollapsed, event: {dragenter: DragEnter, dragstart: DragStart, dragover: DragOver, dragend: DragEnd, drop: DragDrop}, css:{DragHighlighted: IsDragHighlighted}, attr: {draggable: IsDraggable}">
		<span class="Title" data-bind="text: Name, visible: IsDefaultHeaderVisible"></span>
		<div class="CustomHeader" data-bind="if: HasCustomHeader">
			<!-- ko template: { nodes: $componentTemplateNodes.splice(0, 1), data: $parent } --><!-- /ko -->
		</div>
		<span class="CollapseToggle" data-bind="visible: IsDefaultHeaderVisible">
			<img src="/App/Images/Annotations/arrow-right-menu-black.png" data-bind="visible: IsCollapsed" />
			<img src="/App/Images/Annotations/arrow-dropdown.png" data-bind="visible: !IsCollapsed()" />
		</span>
	</div>
	<div class="Content">
		<!-- ko template: { nodes: $componentTemplateNodes, data: $parent } --><!-- /ko -->
	</div>
</div>