﻿<div>
	<h1>Stats</h1>
	<label>Select stats file <input type="file" data-bind="event: {change: FileSelected}"/></label>
	<table>
		<tbody data-bind="foreach: Institutes">
			<tr>
				<td>
					<span data-bind="text: Name"></span>
				</td>
				<td data-bind="foreach: Roles">
					<span data-bind="text: Name"></span>: 
					<span data-bind="text: Count"></span>,
				</td>
			</tr>
		</tbody>
	</table>
</div>