﻿<nav class="navbar navbar-default">
	<div class="container-fluid TopBarInner">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#top-navbar-collapse" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/">
				<img alt="LARM Logo" src="/App/Images/Logos/TopLogoSmall.png">
			</a>
			<a class="navbar-brand" href="https://dighumlab.org/" target="_blank">
				<img alt="DigHumLab Logo" src="/App/Images/Logos/DigHumLab.png">
			</a>
			<a class="navbar-brand hidden-xs" href="http://www.chaosinsight.com/" target="_blank">
				<img alt="CHAOS Insight Logo" src="/App/Images/Logos/PoweredByChaos.png">
			</a>
		</div>
		<div id="top-navbar-collapse" class="collapse navbar-collapse">
			<ul class="nav navbar-nav navbar-right ProfileMenu">
				<li class="hidden-sm">
					<a href="#" data-bind="click: ShowCloseDown">Nedlukning</a>
				</li>
				<li class="hidden-sm">
					<a href="#" data-bind="click: ShowContact">Kontakt</a>
				</li>
				<li class="hidden-sm">
					<a href="/Terms">Betingelser</a>
				</li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
						Hjælp
						<span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						<li class="hidden-xs hidden-md hidden-lg">
							<a href="#" data-bind="click: ShowContact">Kontakt</a>
						</li>
						<li class=" hidden-xs hidden-md hidden-lg">
							<a href="/Terms">Betingelser</a>
						</li>
						<li>
							<a href="#" data-bind="click: ShowContact">Helpdesk</a>
						</li>
						<li>
							<a href="https://dighumlab.org/learning-resources/user-manual-larm-fm/" target="_blank">
								Manual
							</a>
						</li>
						<li>
							<a href="https://www.facebook.com/LARMarchive/" target="_blank">
								Nyheder (Facebook-gruppe)
							</a>
						</li>
						<li>
							<a href="https://dighumlab.org/what-you-can-find-in-larm-fm/" target="_blank">
								Indholdet i LARM.fm – et overblik
							</a>
						</li>
						<li>
							<a href="https://dighumlab.org/learning-resources/larm-fm-tutorial1-kom-godt-gang-med-larm-fm/" target="_blank">
								Kom godt i gang med larm.fm
							</a>
						</li>
						<li>
							<a href="https://dighumlab.org/learning-resources/larm-fm-tutorial-2-sadan-soger-du-larm-fm/" target="_blank">
								Sådan søger du i larm.fm
							</a>
						</li>
						<li>
							<a href="https://dighumlab.org/learning-resources/larm-fm-tutorial-3-sadan-organiserer-du-filer-larm-fm/" target="_blank">
								Sådan organiserer du filer i larm.fm
							</a>
						</li>
						<li>
							<a href="https://dighumlab.org/learning-resources/tutorial-4-sadan-tilfojer-du-metadata-til-filerne-larm-fm/" target="_blank">
								Sådan tilføjer du metadata til filerne
							</a>
						</li>
					</ul>
				</li>
				<li data-bind="visible: CanLogin, click: WayfLogin">
					<a href="#"><span class="glyphicon glyphicon-log-in"></span> Log ind</a>
				</li>
				<li data-bind="visible: IsAuthenticated" class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
						<img src="/App/Images/TopBar/Profile/ProfileDefault.png" />
						<span data-bind="text: ProfileName"></span>
						<span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						<li data-bind="click: EditProfile">
							<a href="#"><span class="glyphicon glyphicon-cog"></span> Ændre profil</a>
						</li>
						<li data-bind="visible: CanLogOut, click: LogOut">
							<a href="#"><span class="glyphicon glyphicon-log-out"></span> Log ud</a>
						</li>
					</ul>
				</li>
			</ul>
			<button class="btn btn-warning navbar-btn navbar-right" data-bind="visible: ChecksFailed, click: ShowChecks"><span class="glyphicon glyphicon-alert"></span> Mulige netværksbegræsninger opdaget</button>
		</div>
	</div>
</nav>