﻿<span role="button" aria-label="Hop tilbage" class="Button" data-bind="click: JumpBackward, Tooltip: {title: 'Hop tilbage i lyden', placement: 'bottom'}"><img src="/App/Images/Players/jump-back_black.png"/></span>
<select aria-label="Hop længde" data-bind="value: JumpLength, options: JumpLengths, optionsText: 'Text', optionsValue: 'Value'"></select>
<span role="button" aria-label="Hop frem" class="Button" data-bind="click: JumpForward, Tooltip: {title: 'Hop frem i lyden', placement: 'bottom'}"><img src="/App/Images/Players/jump-next_black.png"/></span>
<div class="Inline Group">
	<span class="Button" data-bind="click: Create, visible: CanCreate, Tooltip: {title: 'Tilføj ny annotation', placement: 'bottom'}"><img src="/App/Images/Players/annotation-plus_black.png" /></span>
	<span class="Button" data-bind="click: SetIn, visible: CanEdit, Tooltip: {title: 'Sæt starttiden på den valgte annotation', placement: 'bottom'}"><img src="/App/Images/Players/point-start_black.png" /></span>
	<span class="Button" data-bind="click: SetOut, visible: CanEdit, Tooltip: {title: 'Sæt sluttiden på den valgte annotation', placement: 'bottom'}"><img src="/App/Images/Players/point-end_black.png" /></span>
	<span class="Button" data-bind="click: ToggleLoopAnnotation, Tooltip: {title: 'Loop lyden for den valgte annotation', placement: 'bottom'}">
		<img data-bind="visible:!IsLoopingAnnotation()" src="/App/Images/Players/loop_black.png" />
		<img data-bind="visible:IsLoopingAnnotation" src="/App/Images/Players/loop_active.png" />
	</span>
</div>
<div class="Inline Group" data-bind="if: IsFilterReady">
	<select data-bind="value: FilteredOwner, options: Owners, optionsText: 'Name', Tooltip: {title: 'Filtrer annotationer på ejer', placement: 'bottom'}"></select>
	<span class="Button" data-bind="click: FilterOnUser, visible: CanFilterOnUser, Tooltip: {title: 'Filtrer annotationer du ejer', placement: 'bottom'}"><img src="/App/Images/Players/annotationer_filter.png" /></span>
</div>
<div class="Inline Group">
	<span role="button" aria-label="Afspil lydfil i fuld længde" class="Button Wide" data-bind="click: ShowFullLength, visible: CanShowFullLength, Tooltip: {title: 'Afspil lydfil i fuld længde', placement: 'bottom'}"><img src="/App/Images/Players/arrow-expand_black.png" /><img src="/App/Images/Players/arrow-contract_black.png" /></span>
</div>