﻿<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	<h4 class="modal-title" id="gridSystemModalLabel">Redigér <span data-bind="text: Name"></span></h4>
</div>
<div class="modal-body EditProject">
	<ul class="nav nav-tabs" role="tablist">
		<li role="presentation" class="active"><a href="#EditLabelName" aria-controls="EditLabelName" role="tab" data-toggle="tab">Ændre navn</a></li>
		<li role="presentation"><a href="#DeleteLabel" aria-controls="DeleteLabel" role="tab" data-toggle="tab">Slet mappe</a></li>
	</ul>
	<div class="tab-content">
		<div role="tabpanel" class="tab-pane active" id="EditLabelName">
			<p>
				Navnet ændres for alle medlemmer af projektet.
			</p>
			<form class="form-inline" data-bind="submit: UpdateName">
				<input class="form-control" type="text" data-bind="value: NewName"/>
				<button class="btn btn-default" type="submit" data-bind="Tooltip: {title: 'Opdatér labelen med det nye navn', placement: 'top'}">Opdatér</button>
			</form>
			<br/>
			<p>
				Brug skråstreger ( / ) i navnet for at oprette flere mappeniveauer. <br/>
				F.eks. <em>"TopMappe/UnderMappe"</em>
			</p>
		</div>
		<div role="tabpanel" class="tab-pane" id="DeleteLabel">
			<p>
				Sletning er permanent og kan ikke tilbagerulles.
			</p>
			<p>
				Sletning gælder for alle medlemmer af projektet.
			</p>
			<button class="btn btn-danger" data-bind="click: Delete, Tooltip: {title: 'Slet mappen permanent', placement: 'top'}">Slet</button>
		</div>
	</div>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-default" data-dismiss="modal">Luk</button>
</div>