﻿<div class="HiddenOverflow FullSize VerticalFlex ToolsPage">
	<h1>Værktøjer</h1>
	<div>
		<h3>Konverter tid</h3>
		<form data-bind="submit: ConvertToMilliseconds">
			<label>Tidskode: </label>
			<input placeholder="00:00:00" type="text" data-bind="textInput: TimeCode"/>
			<button type="submit">Konverter</button>
		</form>
		<form data-bind="submit: ConvertToTimeCode">
			<label>Millisekunder: </label>
			<input placeholder="1234000" type="text" data-bind="textInput: Milliseconds" />
			<button type="submit">Konverter</button>
		</form>
	</div>
</div>