﻿<div class="LabelFolder" data-bind="css: {Collapsed: IsCollapsed}">
	<div class="Header" data-bind="click: ToggleCollapsed, event: {dragenter: DragEnter}">
		<span class="Title" data-bind="visible: !Data.HasLabel(), text: Data.Name"></span>
		<!-- ko if: Data.HasLabel -->
			<!-- ko component: {name: 'Menu/Projects/Project/Label', params: {ProjectId: Data.ProjectId, Label: Data.Label(), Delete: Data.Delete}}-->
			<!-- /ko -->
		<!-- /ko -->
		<span class="CollapseToggle" data-bind="visible: CanExpand">
			<img src="/App/Images/Annotations/arrow-right-menu-black.png" data-bind="visible: IsCollapsed" />
			<img src="/App/Images/Annotations/arrow-dropdown.png" data-bind="visible: !IsCollapsed()" />
		</span>
	</div>
	<div class="Content">
		<!-- ko foreach: Data.Folders -->
			<!-- ko component: {name: 'Menu/Projects/Project/LabelFolder', params: { Data: $data }}-->
			<!-- /ko -->
		<!-- /ko-->
	</div>
	<!-- ko foreach: Data.ExtraLabels -->
		<div class="Header ExtraLabel" data-bind="component: {name: 'Menu/Projects/Project/Label', params: {ProjectId: $parent.Data.ProjectId, Label: $data, Delete: $parent.Data.Delete}}">
		</div>
	<!-- /ko -->
</div>
