﻿<div class="List">
	<table class="table">
		<thead>
			<tr>
				<!-- ko if: IsTimed -->
				<th class="Play">Afspil</th>
				<th class="Start">Start</th>
				<th class="End">Slut</th>
				<th class="Duration">Varighed</th>
				<!-- /ko -->
				<th class="Text">Tekst</th>
				<th class="CollapseState"></th>
			</tr>
		</thead>
		<tbody data-bind="foreach: Annotations">
			<!-- ko if: IsVisible -->
			<tr style="cursor: pointer" data-bind="ScrollTo: {Trigger: IsSelected, Container: '.tab-content'}, css: {Selected: IsSelected}">
				<!-- ko if: IsTimed -->
				<td>
					<button type="button" class="btn btn-default btn-sm" data-bind="click:Play, Tooltip: {title: 'Afspil lyden for denne annotation', placement: 'right'}">
						<img src="/App/Images/Players/PlayBlack.png" />
					</button>
				</td>
				<td data-bind="text: PrettyStart, click: ToggleCollapsed"></td>
				<td data-bind="text: PrettyEnd, click: ToggleCollapsed"></td>
				<td data-bind="text: Duration, click: ToggleCollapsed"></td>
				<!-- /ko -->
				<td data-bind="click: ToggleCollapsed">
					<p class="Title" data-bind="html: Title"></p>
				</td>
				<td data-bind="click: ToggleCollapsed" class="CollapseState">
					<img src="/App/Images/Annotations/private.svg" height="15" data-bind="visible: IsPrivate" />
					<img class="Lock" src="/App/Images/Annotations/lock.png" data-bind="visible: IsLocked" />
					<img class="Right" src="/App/Images/Annotations/arrow-right-menu-black.png" data-bind="visible: IsCollapsed"/>
					<img class="Right" src="/App/Images/Annotations/arrow-dropdown.png" data-bind="visible: !IsCollapsed()"/>
				</td>
			</tr>
			<tr data-bind="visible: !IsCollapsed()" class="Details">
				<td data-bind="attr: {colspan: IsTimed ? 6 : 2}">
					<div data-bind="foreach: Fields">
						<!-- ko if: IsVisible -->
						<em data-bind="text: Type.DisplayName"></em>:
						<p data-bind="linedText: Value, visible: !$parent.IsEditing()"></p>
						<textarea class="form-control" data-bind="textInput: Value, visible: $parent.IsEditing, autoResize: $parent.IsEditing"></textarea>
						<!-- /ko -->
					</div>
					<div class="Controls hidden-xs" data-bind="visible: !IsEditing()">
						<button data-bind="click: Edit, visible: CanEdit" class="btn btn-default btn-sm">Redigér</button>
						<button data-bind="click: RequestDelete, visible: CanEdit" class="btn btn-danger btn-sm">Slet</button>
						<label data-bind="visible: CanEditLock, Tooltip: {title: 'Lås annotationen så kun du kan redigere den', placement: 'right'}">
							<input type="checkbox" data-bind="checked: IsLocked" />Lås
						</label>
						<label data-bind="visible: CanEditVisibility, Tooltip: {title: 'Gør annotationen privat så kun du kan se den', placement: 'right'}">
							<input type="checkbox" data-bind="checked: IsPrivate" />Privat
						</label>
						<span data-bind="visible: !CanEdit() && IsLocked()">
							<em>Denne annotation er låst af ejeren og kan ikke redigeres</em>
						</span>
						<span class="Ownership">
							<em>Ejer:</em>
							<span data-bind="text: Owner"></span>
						</span>
					</div>
					<div class="EditControls" data-bind="visible: IsEditing">
						<button class="btn btn-primary" data-bind="click: Save">Gem</button>
						<button class="btn btn-default" data-bind="click: Cancel">Annullér</button>
					</div>
				</td>
			</tr>
			<!-- /ko -->
		</tbody>
	</table>
	<div class="Footer">
	    <button class="btn btn-primary hidden-xs" data-bind="click: Add, visible: CanEdit">Tilføj ny annotation</button>
	    <button class="btn btn-default hidden-xs" data-bind="click: Export, visible: CanExport">Eksporter annotationer</button>
		<span>
			Vis annotationer fra:
			<select data-bind="value: FilteredOwner, options: Owners, optionsText: 'Name'"></select>
		</span>
	</div>
</div>