﻿<div class="Members">
	<div>
		<h4>Tilføj</h4>
		<input placeholder="Søg efter nye medlemmer" type="text" class="form-control" data-bind="textInput: Search"/>
		<ul data-bind="foreach: SearchResults">
			<li>
				<button type="button" data-bind="click: Add, Tooltip: {title: 'Tilføj bruger til projekt', placement: 'top'}">
					<span class="glyphicon glyphicon-plus"></span>
					<span data-bind="text: Name"></span>
				</button>
			</li>
		</ul>
	</div>
	<div>
		<h4>Fjern</h4>
		<ul data-bind="foreach: Users">
			<li>
				<button type="button" data-bind="visible: CanRemove, click: Remove, css: {Added: Added}, Tooltip: {title: 'Fjern bruger fra projekt', placement: 'top'}">
					<span class="glyphicon glyphicon-minus"></span>
					<span data-bind="text: Name"></span>
				</button>
				<span class="Me" data-bind="visible: !CanRemove(), text: Name"></span>
			</li>
		</ul>
	</div>
</div>
<div>
	<button class="btn btn-danger" data-bind="visible: CanLeave, click: Leave, Tooltip: {title: 'Forlad dette projekt', placement: 'top'}">Forlad projekt</button>
</div>