﻿<div data-bind="visible: !IsLoading()" class="Asset">
	<h3 draggable="true" data-bind="event: {dragstart: StartDrag}">
		<span draggable="false" class="dragIcon glyphicon glyphicon-option-vertical" data-bind="visible: CanAssociateWithLabel, Tooltip: {title: 'Træk til en mappe under et projekt i venstre-menuen', placement: 'right'}"></span>
		<span draggable="false" data-bind="text: Title"></span>
	</h3>
	<div data-bind="if: PlayerState.HasPlayer" class="Player">
		<!-- ko if: MediaIsCopyrightBlocked-->
		<p class="text-danger">Dette medie er ikke tilgængeligt på grund af ophavsret. Kontakt <a href="mailto:janne@cc.au.dk">support</a> for mere information.</p>
		<!-- /ko-->
		<!-- ko ifnot: MediaIsCopyrightBlocked-->
		<!-- ko if: MediaRequiresLogin -->
		<p class="text-danger">Du skal være logget ind for at tilgå dette medie</p>
		<!-- /ko -->
		<!-- ko if: !MediaRequiresLogin() && PlayerState.AreFilesReady() -->
		<div data-bind="css: {SideBySide: PlayerState.IsSideBySide}">
			<!-- ko if: PlayerState.IsBig -->
			<div class="BigPlayer" data-bind="component: {name: 'Pages/Asset/Players/' + PlayerState.Type(), params: {State: PlayerState}}"></div>
			<!-- /ko -->
			<!-- ko if: PlayerState.UsesTimedTools -->
			<div class="hidden-xs" data-bind="component: {name: 'Pages/Asset/Annotations/Timeline', params: {Groups: AnnotationGroups, GetActiveGroup: GetActiveGroup, PlayerState: PlayerState}}"></div>
			<!-- /ko -->
		</div>
		<!-- ko if: PlayerState.IsInline -->
		<div class="Inline InlinePlayer" data-bind="component: {name: 'Pages/Asset/Players/Inline' + PlayerState.Type(), params: {State: PlayerState}}"></div>
		<!-- /ko -->
		<!-- ko if: PlayerState.UsesTimedTools -->
		<div class="Inline TimedToolbar hidden-xs" data-bind="component: {name: 'Pages/Asset/Annotations/TimedToolbar', params: {SelectedAnnotation: SelectedAnnotation, Groups: AnnotationGroups, GetActiveGroup: GetActiveGroup, PlayerState: PlayerState}}"></div>
		<!-- /ko -->
		<!-- /ko -->
		<!-- /ko -->
	</div>
	<!-- ko if: IsAuthenticated -->
	<button class="AddToFolder btn btn-primary visible-sm visible-xs" data-bind="click: ShowAddToFolder">
		<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
		Tilføj medie til mappe
	</button>
	<!-- /ko -->
	<div class="TabContainer">
		<ul class="nav nav-tabs hidden-sm hidden-xs" role="tablist">
			<!-- ko foreach: VisibleData -->
			<li role="presentation" data-bind="css: {active: $index() == 0}"><a role="tab" data-toggle="tab" data-bind="text: Name, attr: {href: '#' + Name.replace(/ /g, '') + 'Tab'}"></a></li>
			<!-- /ko -->
			<!-- ko foreach: AnnotationGroups -->
			<li role="presentation"><a role="tab" data-toggle="tab" data-bind="text: Name, attr: {href: '#' + Definition.Identifier + 'Tab'}"></a></li>
			<!-- /ko -->
		</ul>
		<ul class="nav nav-tabs visible-sm visible-xs" role="tablist">
			<li class="dropdown" role="presentation">
				<a id="MetadataButton" type="button" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Metadata
					<span class="caret"></span>
				</a>
				<ul class="dropdown-menu" aria-labelledby="MetadataButton">
					<!-- ko foreach: VisibleData -->
					<li role="presentation"><a role="tab" data-toggle="tab" data-bind="text: Name, attr: {href: '#' + Name.replace(/ /g, '') + 'Tab'}"></a></li>
					<!-- /ko -->
				</ul>
			</li>
			<!-- ko if: AnnotationGroups().length > 1 -->
			<li class="dropdown" role="presentation">
				<a id="AnnotationsButton" type="button" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Annotationer
					<span class="caret"></span>
				</a>
				<ul class="dropdown-menu" aria-labelledby="AnnotationsButton">
					<!-- ko foreach: AnnotationGroups -->
					<li role="presentation"><a role="tab" data-toggle="tab" data-bind="text: Name, attr: {href: '#' + Definition.Identifier + 'Tab'}"></a></li>
					<!-- /ko -->
				</ul>
			</li>
			<!-- /ko -->
			<!-- ko if: AnnotationGroups().length === 1 -->
			<li role="presentation" data-bind="with: AnnotationGroups()[0]"><a role="tab" data-toggle="tab" data-bind="text: Name, attr: {href: '#' + Definition.Identifier + 'Tab'}"></a></li>
			<!-- /ko -->
		</ul>
		<div class="tab-content">
			<!-- ko foreach: VisibleData -->
			<div role="tabpanel" class="tab-pane" data-bind="attr: {id: Name.replace(/ /g, '') + 'Tab'}, css: {active: $index() == 0}">
				<div data-bind="component: {name: 'Pages/Asset/Data', params: {Id: $parent.Id, AssetTypeId: $parent.TypeId(), Data: $data, UpdateCallback: $parent.DataUpdatedCallback}}"></div>
			</div>
			<!-- /ko -->
			<!-- ko foreach: AnnotationGroups -->
			<div role="tabpanel" class="tab-pane" data-bind="attr: {id: Definition.Identifier + 'Tab'}">
				<div data-bind="component: {name: 'Pages/Asset/Annotations/List', params: {Group: $data, Link: $parent.Link}}"></div>
			</div>
			<!-- /ko -->
		</div>
	</div>
	<!-- ko if: IsDragging -->
	<p data-bind="Element: DragElement" class="DragElement">
		<img data-bind="attr: {src: '/App/Images/SearchFields/Type/' + TypeId() + '.png'}" />
		<span data-bind="text: Title"></span>
	</p>
	<!-- /ko -->
</div>
<div class="CenterContent" data-bind="visible: IsLoading">
	<h3>
		<span class="glyphicon glyphicon-repeat Rotate" aria-hidden="true"></span> Henter data
	</h3>
</div>