﻿<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	<h4 class="modal-title" id="gridSystemModalLabel">Slet annotation</h4>
</div>
<div class="modal-body Contact">
	<p>Er du sikker på du vil slette denne annotation?</p>
	<p class="text-info" data-bind="text: Title"></p>
</div>
<div class="modal-footer">
	<span class="text-warning pull-left"><span class="glyphicon glyphicon-alert"></span> Sletning kan ikke fortrydes.</span>
	<button type="button" class="btn btn-danger" data-bind="click: Delete">Slet</button>
	<button type="button" class="btn btn-default" data-dismiss="modal">Annuller</button>
</div>