﻿<div class="Label">
	<div class="Header">
		<div class="Title" data-bind="visible: !Data.HasLabel(), text: Data.Name"></div>
		<!-- ko if: Data.HasLabel -->
		<div class="AddableLabel" data-dismiss="modal" data-bind="click: function() {Add(Data.Label())}">
			<span data-bind="text: GetBottomName(Data.Label())"></span>
			<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
		</div>
		<!-- /ko -->
	</div>
	<div class="Content">
		<!-- ko foreach: Data.Folders -->
		<!-- ko component: {name: 'Pages/Asset/AddAssetToFolderDialog/Label', params: { Data: $data, AssetId: $parent.AssetId }}-->
		<!-- /ko -->
		<!-- /ko-->
	</div>
	<!-- ko foreach: Data.ExtraLabels -->
	<div class="AddableLabel" data-dismiss="modal" data-bind="click: function() {$parent.Add($data)}">
		<span data-bind="text: $parent.GetBottomName($data)"></span>
		<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
	</div>
	<!-- /ko -->
</div>
