﻿<div draggable="false" class="Label" data-bind="event: {dragover: DragOver, drop: DragDrop, dragenter: DragEnter, dragleave: DragLeave}, css: {Active: IsActive, Associated: HasAssociated, HoveringDrop: IsHoveringDrop}">
	<!-- ko ifnot: IsEditing-->
	<a draggable="false" data-bind="text: DisplayName, attr: {href: Link}"></a>
	<button class="ActionButton" data-bind="click: Edit, clickBubble: false, visible: CanEdit, Tooltip: {title: 'Omdøb eller slet denne mappe', placement: 'top'}">
		<span class="glyphicon glyphicon-cog"></span>
	</button>
	<!-- /ko -->
	<form class="form-inline" data-bind="visible: IsEditing, submit: Save">
		<div class="form-group form-group-sm">
			<input class="form-control" type="text" data-bind="value: Name, hasFocus: HasFocus" placeholder="Min mappe" />
		</div>
	</form>
</div>