﻿<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-label="Close" data-bind="visible: !ShouldShowWelcome"><span aria-hidden="true">&times;</span></button>
	<h4 class="modal-title" id="gridSystemModalLabel">Profil</h4>
</div>
<div class="modal-body">
	<p data-bind="visible: ShouldShowWelcome">Før du kan komme i gang, skal du udfylde følgende oplysninger</p>
	<p data-bind="visible: !ShouldShowWelcome">Opdatér dine profiloplysninger her</p>
	<form data-bind="submit: Save" class="form-horizontal">
		<div class="form-group">
			<label for="ProfileDialogName" class="col-sm-3 control-label">Profilnavn</label>
			<div class="col-sm-9">
				<input id="ProfileDialogName" class="form-control" type="text" placeholder="Anders And" data-bind="textInput: Name"/>
			</div>
		</div>
		<div class="form-group">
			<label for="ProfileDialogEmail" class="col-sm-3 control-label">Email (valgfri)</label>
			<div class="col-sm-9">
				<input id="ProfileDialogEmail" class="form-control" type="text" placeholder="navn@larm.fm" data-bind="textInput: Email" />
			</div>
		</div>
	</form>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-primary" data-bind="click: Save, enable: CanSave">Gem</button>
	<button type="button" data-bind="visible: !ShouldShowWelcome" class="btn btn-default" data-dismiss="modal">Annuller</button>
</div>