﻿<div class="FullLengthPlayer">
	<audio controls data-bind="Element: Element"></audio>
	<div>
		<table>
			<tr>
				<td>Fil id:</td>
				<td data-bind="text: Offset.File.Identifier"></td>
			</tr>
			<tr>
				<td>Afgrænsning start:</td>
				<td class="Number" data-bind="text: PrettyStart === null ? 'ingen' : PrettyStart, click: GotoStart, css: {GotoButton: PrettyStart !== null}"></td>
			</tr>
			<tr>
				<td>Afgrænsning slut:</td>
				<td class="Number" data-bind="text: PrettyEnd === null ? 'ingen' : PrettyEnd, click: GotoEnd, css: {GotoButton: PrettyEnd !== null}"></td>
			</tr>
			<tr>
				<td>Afgrænsning længde:</td>
				<td class="Number" data-bind="text: PrettyOffsetLength === null ? 'beregner...' : PrettyOffsetLength"></td>
			</tr>
			<tr>
				<td>Fil længde:</td>
				<td class="Number" data-bind="text: PrettyDuration === null ? 'beregner...' : PrettyDuration"></td>
			</tr>
		</table>
		<a class="ReportOffset" data-bind="attr: {href: GetEmailLink('janne@cc.au.dk', 'LARM.fm forkert afgrænsning på fil $fileId', 'Hej LARM.fm\n\nFil $fileId bør afgrænses til $offsetStart - $offsetEnd.\nSe $assetLink.\n\nMvh\n\n')}">Rapporter forkert afgrænsning</a>
	</div>
</div>