﻿<ul class="pagination" data-bind="visible: HasResults">
	<li data-bind="with: FirstPage, css: {disabled: FirstPage().IsActive}">
		<a aria-label="Previous" data-bind="attr: {href: Link}, click: NavigateTo, Tooltip: {title: 'Se første side af søgeresultaterne', placement: 'bottom'}">
			<span aria-hidden="true">&laquo;</span>
		</a>
	</li>
	<!-- ko foreach: Pages -->
	<li data-bind="css: {active: IsActive, 'hidden-xs': $index() > 3}"><a data-bind="text: Number, attr: {href: Link}, click: NavigateTo, Tooltip: {title: 'Se side ' + Number + ' af søgeresultaterne', placement: 'bottom'}"></a></li>
	<!-- /ko -->
	<li data-bind="with: LastPage, css: {disabled: LastPage().IsActive}">
		<a href="#" aria-label="Next" data-bind="attr: {href: Link}, click: NavigateTo, Tooltip: {title: 'Se sidste side af søgeresultaterne', placement: 'bottom'}">
			<span aria-hidden="true">&raquo;</span>
		</a>
	</li>
</ul>
<ul class="pagination hidden-xs" data-bind="visible: HasResults, foreach: PageSizes">
	<li data-bind="css: {active: IsActive}"><a data-bind="text: Size, attr: {href: Link}, click: NavigateTo, Tooltip: {title: 'Se ' + Size + ' resultater per side', placement: 'bottom'}"></a></li>
</ul>