﻿<div class="Video">
	<video controls preload="auto" data-bind="Element: VideoElement"></video>
	<p class="MediaError" data-bind="visible: HasMediaError">Din browser undestøtter muligvis ikke LARMs videoformat, prøv venligst i en anden browser hvis du oplever problemer med billed eller lyd.</p>
</div>