﻿<div class="hidden-xs">
	<span role="button" aria-label="Afspil" class="Button Primary" data-bind="click: Toggle, enable: IsReady, attr: {'aria-pressed': IsPlaying() ? 'true' : 'false'}">
		<img data-bind="visible:!IsPlaying()" src="/App/Images/Players/PlayWhite.png" />
		<img data-bind="visible:IsPlaying" src="/App/Images/Players/PauseWhite.png" />
	</span>
	<span data-bind="text: Position"></span> / <span data-bind="text: Duration"></span>
	<span role="button" aria-label="Lydløs" class="VolumeButton" data-bind="click: ToggleMute, css: {Muted: IsMuted}, attr: {'aria-pressed': IsMuted() ? 'true' : 'false'}">&nbsp;</span>
	<input type="range" min="0" max="100" step="1" data-bind="value: Volume, valueUpdate: 'input'" class="Volume"/>
	<span data-bind="click: ToggleSideBySide, Tooltip: {title: 'Skift video afspiller og tidslinje layout', placement: 'bottom'}">
		<img data-bind="visible:!IsSideBySide()" src="/App/Images/Players/SideBySide.png" />
		<img data-bind="visible:IsSideBySide" src="/App/Images/Players/OverUnder.png" />
	</span>
</div>