﻿<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	<h4 class="modal-title" id="gridSystemModalLabel">Kontakt</h4>
</div>
<div class="modal-body Contact">
	<p>
		Har du ris, ros eller brug for hjælp, så skriv til os på <a target="_blank" href="mailto:larm.helpdesk@gmail.com">larm.helpdesk@gmail.com</a>.
	</p>
	<p>
		Følg med i nyt fra LARM.fm på vores Facebook-gruppe: <a href="https://www.facebook.com/LARMarchive/" target="_blank">facebook.com/LARMarchive</a>.
	</p>
	<p>
		Hvis du kontakter support, så vedhæft gerne følgende information så vi hurtigere kan hjælpe dig:
	</p>
	<div class="well">
		LARM version: <span data-bind="text: Version"></span><br />
		Tidspunkt: <span data-bind="text: Time"></span><br />
		Bruger: <span data-bind="text: User ? User : 'Ikke logget ind'"></span><br />
		User Agent: <span data-bind="text: UserAgent"></span><br/>
		Url: <span data-bind="text: Url"></span>
	</div>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-default" data-dismiss="modal">Luk</button>
</div>