﻿<div class="Data">
	<table class="table table-striped">
		<tbody data-bind="foreach: Fields">
		<tr>
			<td class="FieldName" data-bind="text: Type.DisplayName"></td>
			<td class="FieldData" data-bind="component: {name: 'Pages/Asset/Data/' + Type.Type, params: $data}"></td>
		</tr>
		</tbody>
	</table>
</div>
