﻿<div class="HiddenOverflow FullSize VerticalFlex AnalysePage">
	<h1>Analyse</h1>
	<div class="FlexFill VerticalFlex" style="overflow: hidden; height: 100%">
		<div class="Overview">
			<div class="Load">
				<table>
					<tr>
						<td>Total antal:</td>
						<td data-bind="text: Total"></td>
					</tr>
					<tr>
						<td>Hentet:</td>
						<td data-bind="text: Loaded"></td>
					</tr>
					<tr>
						<td>Detaljer hentet:</td>
						<td data-bind="text: DetailsLoaded"></td>
					</tr>
				</table>
				<button data-bind="click: ToggleGetDetails">
					<span data-bind="visible: IsGettingDetails">Stop hent af detaljer</span>
					<span data-bind="visible: !IsGettingDetails()">Hent detaljer</span>
				</button>
			</div>
			<div class="Years">
				Berørte år:
				<div class="YearsContainer" data-bind="foreach: AffectedYears">
					<div>
						<span data-bind="text: Year"></span> (<span data-bind="text: Count"></span>)
					</div>
				</div>
			</div>
		</div>
		<div class="FlexFill VerticalScroll">
			<table class="AssetTable">
				<thead>
				<tr>
					<td></td>
					<td>Identifier</td>
					<td>Titel</td>
					<td>År</td>
					<td>Filer</td>
					<td>Mangler</td>
					<td>Stier</td>
				</tr>
				</thead>
				<tbody data-bind="foreach: Items">
				<tr style="vertical-align: top">
					<td>
						<span draggable="false" data-bind="Image: {Path: '/App/Images/SearchFields/Type/' + TypeId + '.png', Fallback: TypeId}"></span>
					</td>
					<td data-bind="text: Identifier">
						<a></a>
					</td>
					<td>
						<a draggable="false" data-bind="attr: {href: '/Asset/' + Identifier}, text: Title || '<Ingen titel>'"></a>
					</td>
					<!-- ko ifnot: HasStartedLoading -->
					<td colspan="4"><button data-bind="click: Load">Hent Detaljer</button></td>
					<!-- /ko -->
					<!-- ko if: HasStartedLoading -->
					<td data-bind="text: Year"></td>
					<td data-bind="text: NumberOfFiles"></td>
					<td data-bind="text: NumberOfMissingFiles"></td>
					<td data-bind="foreach: MissingFiles">
						<span data-bind="text: $data"></span><br/>
					</td>
					<!-- /ko -->
				</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>