﻿<div class="modal-header">
	<button type="button" class="close" data-bind="click: Close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	<h4 class="modal-title" id="gridSystemModalLabel">Nedlukning</h4>
</div>
<div class="modal-body">
	<p>
		Kære bruger af LARM.fm
	</p>
	<p>
		Platformen LARM.fm lukker desværre ned 15. december 2023.
	</p>
	<p>
		Da materialet på platformen primært er Det Kgl. Biblioteks digitale samlinger af radio og tv, vil der stadig være adgang til dette materiale for forskere og studerende via Det Kgl. Bibliotek, enten gennem Mediestream <a href="https://www2.statsbiblioteket.dk/mediestream/info/laan-og-koeb" target="_blank">https://www2.statsbiblioteket.dk/mediestream</a>, eller ved tilsendelse af filer, se mere her: <a href="https://www2.statsbiblioteket.dk/mediestream/" target="_blank">https://www2.statsbiblioteket.dk/mediestream/info/laan-og-koeb</a>.
	</p>
	<p>
		Programoversigter fra DR fra 1925 og frem til i dag har DR gjort tilgængelige her: <a href="https://www.dr.dk/alletidersprogramoversigter" target="_blank">https://www.dr.dk/alletidersprogramoversigter</a>.
	</p>
	<p>
		Hvis du har annotationer på platformen, som du har brug for at gemme, bedes du gøre det snarest, da den endelige dato for lukning ikke kendes pt. For info om, hvordan du gør det, se afsnit ”6.2.8. Eksport af annotationer” i LARM.fms brugermanual s. 48: <a href="https://dighumlab.org/wp-content/uploads/2020/02/LARM.fm-brugermanual-version_3.pdf" target="_blank">https://dighumlab.org/wp-content/uploads/2020/02/LARM.fm-brugermanual-version_3.pdf</a>.
	</p>
	<p>
		For andre spørgsmål, kontakt <a href="mailto:larm.helpdesk@gmail.com">larm.helpdesk@gmail.com</a>.
	</p>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-default" data-bind="click: Close" data-dismiss="modal">Luk</button>
</div>