﻿<div class="AudioPosition visible-xs">
	<!-- ko component: {name: "Inputs/Range", params: {Value: RelativePosition}} --><!-- /ko -->
</div>
<span data-bind="visible: !HasErrorOccured()">
	<span role="button" aria-label="Afspil" class="Button Primary" data-bind="click: Toggle, enable: IsReady, attr: {'aria-pressed': IsPlaying() ? 'true' : 'false'}">
		<img data-bind="visible:!IsPlaying()" src="/App/Images/Players/PlayWhite.png" />
		<img data-bind="visible:IsPlaying" src="/App/Images/Players/PauseWhite.png" />
	</span>
	<span data-bind="text: Position"></span> / <span data-bind="text: Duration"></span>
	<span class="hidden-xs">
		<span role="button" aria-label="Lydløs" class="VolumeButton" data-bind="click: ToggleMute, css: {Muted: IsMuted}, attr: {'aria-pressed': IsMuted() ? 'true' : 'false'}">&nbsp;</span>
		<input type="range" min="0" max="100" step="1" data-bind="value: Volume, valueUpdate: 'input'" class="Volume"/>
	</span>
</span>
<span class="MediaError" data-bind="visible: HasErrorOccured">
	<span data-bind="visible: IsMediaUnsupported">Din browser understøtter ikke LARMs lydformat, prøv venligst i en anden browser.</span>
	<span data-bind="visible: !IsMediaUnsupported()">Der skete en fejl under afspilningen, kontakt venligst support.</span>
</span>