﻿<!-- ko component: {name: 'Menu/Group', params: {Name:Name, CssClasses: 'Facet', IsCollapsed: IsCollapsed}} -->
<ul data-bind="foreach: Fields">
	<li data-bind="click: Toggle, css:{Active: IsActive}">
		<span class="badge" data-bind="text: Count"></span>
		<img data-bind="visible: HasIcon, attr: {src: IconPath}"/>
		<span data-bind="text: Key"></span>
	</li>
</ul>
<p class="ShowAll" data-bind="click: ToggleShowAll, visible: CanShowMore">
	<span data-bind="visible:IsShowingAll">Vis færre</span>
	<span data-bind="visible:!IsShowingAll()">Vis flere</span>
</p>
<!-- /ko-->