﻿<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	<h4 class="modal-title" id="gridSystemModalLabel">Redigér <span data-bind="text: Name"></span></h4>
</div>
<div class="modal-body EditProject">
	<ul class="nav nav-tabs" role="tablist">
		<li role="presentation" class="active"><a href="#EditProjectUsers" aria-controls="EditProjectUsers" role="tab" data-toggle="tab">Medlemmer</a></li>
		<li role="presentation"><a href="#EditProjectName" aria-controls="EditProjectName" role="tab" data-toggle="tab">Ændre navn</a></li>
		<li role="presentation"><a href="#DeleteProject" aria-controls="DeleteProject" role="tab" data-toggle="tab">Slet projekt</a></li>
	</ul>
	<div class="tab-content">
		<div role="tabpanel" class="tab-pane active" id="EditProjectUsers" data-bind="component: {name: 'Menu/Projects/Project/EditDialog/Users', params: {Project: Project, Leave: Leave}}">
		</div>
		<div role="tabpanel" class="tab-pane" id="EditProjectName">
			<p>
				Navnet ændres for alle medlemmer af projektet.
			</p>
			<form class="form-inline" data-bind="submit: UpdateName">
				<input class="form-control" type="text" data-bind="value: NewName"/>
				<button class="btn btn-default" type="submit" data-bind="Tooltip: {title: 'Opdatér projektet med det nye navn', placement: 'top'}">Opdatér</button>
			</form>
		</div>
		<div role="tabpanel" class="tab-pane" id="DeleteProject">
			<p data-bind="visible: HasLabels">
				Hvis du vil slette projektet <strong data-bind="text: Name"></strong>, skal du først slette alle mapper under projektet.
			</p>
			<div data-bind="visible: !HasLabels">
				<p>
					Sletning er permanent og kan ikke tilbagerulles.
				</p>
				<p>
					Sletning gælder for alle medlemmer af projektet.
				</p>
				<button class="btn btn-danger" data-bind="click: Delete, Tooltip: {title: 'Slet projektet permanent', placement: 'top'}">Slet</button>
			</div>
		</div>
	</div>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-default" data-dismiss="modal">Luk</button>
</div>