﻿<span data-bind="text: TotalResultCount"></span> resultater
<span data-bind="visible: HasQuery">for <a class="SearchParameter" data-bind="attr: {href: QuerylessLink}, text: Query, Tooltip: {title: 'Søg uden tekstafgrænsning', placement: 'bottom'}"></a></span>
<span data-bind="visible: HasFacet">afgrænset til <a class="SearchParameter" data-bind="attr: {href: FacetlessLink}, text: FacetName, Tooltip: {title: 'Søg uden facetafgrænsning', placement: 'bottom'}"></a></span>
<span data-bind="visible: HasLabel">i <a class="SearchParameter" data-bind="attr: {href: LabellessLink}, text: LabelName, Tooltip: {title: 'Søg uden mappeafgrænsning', placement: 'bottom'}"></a></span>
<span data-bind="visible: HasTime">i den <a class="SearchParameter" data-bind="attr: {href: TimelessLink}, Tooltip: {title: 'Søg uden tidsafgrænsning', placement: 'bottom'}">valgte tidsperiode</a></span>