﻿<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	<h4 class="modal-title" id="gridSystemModalLabel">Tilføj medie til mappe</h4>
</div>
<div class="modal-body AddAssetToFolder">
	<p>Tryk på den mappe "<span data-bind="text: Title"></span>" skal tilføjes til.</p>
	<div data-bind="foreach: Projects">
		<div class="Project">
			<div class="Name" data-bind="text: $data.Name"></div>
			<div class="Labels" data-bind="foreach: Labels">
				<!-- ko component: {name: 'Pages/Asset/AddAssetToFolderDialog/Label', params: { Data: $data, AssetId: $parents[1].AssetId }}-->
				<!-- /ko -->
			</div>
		</div>
	</div>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-default" data-dismiss="modal">Annuller</button>
</div>